<div class="static_wrapper">
  <div class="static_title">
    <b style="padding-left: 15px;font-size: 36px;">FAQ</b>
  </div>
  <div class="static_content">
        
 FAQ  <br><br>

General  <br><br>

How does it work?  <br><br>

When you want to send your family or friend a box or someone or you know of someone whom bought from you something ? , you search for a passer that goes to your desired destination, and set up a time, destination and other additional information.  
In addition you set a price you are willing to pay for sending the package.<br>
On the other hand, when you are going to a certain place , you can gain extra money by taking with you a package. You are anyways going there,and  it’s a good opportunity for you to gain money on the way.<br><br>

Transporter  <br><br>

How do I sign up ?  <br><br>
It’s simple, choose the option , pass a package , enter a number of details , and you are signed up
Can you take multiple tasks simultaneously ?  <br><br>
Sure, If you can uphold the timetable and meet up with the request of all your senders.  <br><br>

When do I get paid for the task ?  <br><br>
You get paid after you have delivered the package and the sender confirmed it. <br><br>
Do I need to pay taxes ?  <br><br>
You need to pay taxes according to the law in your state/ country. Never the less, in most countries there is a minimum for income tax exemption  <br><br>
How do I know there is nothing illegal in the package ?  <br><br>
We do whatever we can to make sure there is nothing illegal, never the less,do not take any package you suspect has any illegal substance.  <br><br>

How does the payment system work ?  <br><br>
It’s done by us, Via PayPal, The Payment is on hold until the sender confirms that you have completed your task. <br><br>

Can I cancel a task after I approved it?  <br><br>
If you still haven’t taken it , you can still cancel it.  Never the less , we don’t recommend to do so.
Only approve tasks you know you can deliver.   <br><br>

How can I inquire about the task ?  <br><br>
You have an option to ask the sender any questions you would like to know, to your satisfaction. <br><br>

Can a passer cancel a task after he has taken the package ?  <br><br>
We recommend you complete the task you have taken on yourself. If you think you can’t make the task, don’t take it in the first place. You will need to contact the sender and inform him, and you will not get paid. <br><br>


Sender  <br><br>

How do I post a task ?  <br><br>
It’s very simple, you choose the option send something and you fill in a few details, and that’s it :) <br><br>

Can I post a number of tasks ?  <br><br>
Sure thing you can, we encourage you to do it, post as much taks as you need, there is no limitation. <br><br>

Can I update details in a task ?  <br><br>
Yes, you navigate to open tasks and press Edit, and change whatever you want.<br><br>


How can I trust the person I am passing the package with ?  <br><br>
We do everything we can to make sure the process is kosher. <br>
There are a number of verifications: phone verification, facebook profile and your rankings and reviews<br><br>

How much will it cost me to send the package ?  <br><br>
You can price the sending of the package with any price you choose, we encourage you to put the highest price you can pay so you will get the fastest replies from the passers willing to take the task <br><br>

When do I need to pay for the task ?  <br><br>

Your money will be transferred to the passer after you approved the package was delivered. <br><br>


How do I pay him ?  <br><br>
Via PayPal.  <br><br>

When do you I pay for the task ?  <br><br>
When you accepted for the passer to take you package, the money is transferred via PayPal to superpass account. Only after you have approved that  the package was delivered to your satisfaction,the money is passed to the passer. <br> 
If the task hasn’t been confirmed by you in 12 hours , we will assume that all is good and transfer the money to the passer. <br><br>


What does SuperPass charge me ?  <br><br>

We charge a 10 percent fee (Not including PayPal fee)  on a task that has been completed. <br><br>

What items are not allowed to be send ?  <br><br>
You are not allowed to send any items that are illegal in any way. <br><br>
How do I cancel a task ? <br><br>
In your list of request of sending you have an option to cancel the request
If a passer hasn’t accepted the task, you can always cancel it.<br><br>

Any more questions, don’t hesitate to email us : info@sendd.me <br><br>


  </div>
</div>
