<div class="static_wrapper">
  <div class="static_title">
    <b style="padding-left: 15px;font-size: 36px;">FAQ</b>
  </div>
  <div class="static_content">
    <div class="faq_title" style="margin-top: 5px">
      General
    </div>
    <div class="faq_question">
      What is <b>sendd.me</b>?
    </div>
    <div class="faq_answer">
      sendd.me is a platform for social deliveries.<br>
      Whenever you go somewhere, and feel like making some money on the way, deliver for someone and get paid!<br>
      Alternatively, find a Transporter to deliver what you want, where and when you want it!
    </div>
    <div class="faq_question">
      How does it work?
    </div>
    <div class="faq_answer">
      We're trying very hard to make it very easy for you.<br><br>
      Feel like making money transporting something?
      <ul>
        <li>Go to <b>Browse Senders</b> at the top.</li>
        <li>Pick an available  Delivery Request.</li>
        <li>Get confirmed by the Sender.</li>
        <li>Perform delivery.</li>
        <li>Get paid!</li>
      </ul>
      Need to deliver somewhere quickly?
      <ul>
        <li>Go to <b>Find Transporters</b> at the top.</li>
        <li>Pick an available  Delivery Suggestion.</li>
        <li>Get confirmed by the Transporter.</li>
        <li>Get your things delivered!</li>
      </ul>
    </div>
    <div class="faq_question">
      I haven't found a Delivery Request/Suggestion which was right for me
    </div>
    <div class="faq_answer">
      Hey, that can happen to anyone!<br>
      We also provide the ability to add your own Delivery Requests/Suggestions!<br><br>
      Want to add your own Delivery Suggestion?
      <ul>
        <li>Go to <b>Browse Senders</b> at the top.</li>
        <li>Click <b>Add your own suggestion</b>.</li>
        <li>Take 15 seconds to add necessary details.</li>
        <li>Get accepted by many Senders.</li>
        <li>Confirm your Sender.</li>
        <li>Perform delivery.</li>
        <li>Get paid!</li>
      </ul>
      Want to add your own Delivery Request?
      <ul>
        <li>Go to <b>Find Transporters</b> at the top.</li>
        <li>Click <b>Add your own request</b>.</li>
        <li>Take 15 seconds to add necessary details.</li>
        <li>Get accepted by many Transporters.</li>
        <li>Confirm your Transporter.</li>
        <li>Get your things delivered!</li>
      </ul>
    </div>
    <div class="faq_question">
      Can I edit the details in my Delivery Request/Suggestion?
    </div>
    <div class="faq_answer">
      Yes you can, as long as your Delivery Request/Suggestion hasn't been accepted by anyone yet.<br>
      Simply go to your Delivery Request/Suggestions's page, and click <b>Edit</b>.
    </div>
    <div class="faq_question">
      Can I post a number of Delivery Requests/Suggestions?
    </div>
    <div class="faq_answer">
      Absolutely! We encourage our Senders and Transporters to post as many deliveries as they like.<br>
      Become a top rated Sender or Transporter quicker, earn more money and deliver your stuff quickly!
    </div>
    <div class="faq_question">
      OK, sounds cool. what's in it for sendd.me?
    </div>
    <div class="faq_answer">
      Besides making the world a better, more efficient and environment friendly place, we also charge 15% out of each delivery cost.
    </div>
    <div class="faq_question">
      I don't know anyone on <b>sendd.me</b>. How can I trust them?
    </div>
    <div class="faq_answer">
      We do our best to verify all of our Transporters and Senders.<br>
      We do so in 4 ways:
      <ul>
        <li>We verify your mobile phone number (Cannot accept/confirm deliveries without this).</li>
        <li>We verify your Facebook account.</li>
        <li>We verify your Email address.</li>
        <li>We have a simple, yet effective user rating system.</li>
      </ul>
      If you are good, and have verified all of your details, others will give you good reviews, and you will get confirmed for more deliveries.
      Make a reputation for yourself, and become a top Transporter or Sender!
    </div>
    <div class="faq_question">
      What are you going to do with my details?
    </div>
    <div class="faq_answer">
      We are committed to never exposing any of your details.<br>
      The only exceptions are the following cases:
      <ul>
        <li>A Sender confirms a Transporter for his Delivery Request, after which both their mobile phone numbers become visible only to the both of them.</li>
        <li>A Sender authorizes Preapproved Payment for a Delivery Suggestion, after which both their mobile phone numbers become visible only to the both of them.</li>
      </ul>
    </div>
    <div class="faq_question">
      How can I contact another user?
    </div>
    <div class="faq_answer">
      We provide 3 ways of communicating with other users:
      <ul>
        <li>Leave a comment to creator of Delivery Request/Suggestion (Visible for everyone)</li>
        <li>After accepting a Delivery Request/Suggestion, you can send a direct message to its creator (Visible for the 2 of you alone).</li>
        <li>After being confirmed for a Delivery Request/Suggestion, you can call its creator via mobile phone (Visible for the 2 of you alone)</li>
      </ul>
    </div>
    <div class="faq_question">
      How does the payment system work?
    </div>
    <div class="faq_anwser">
      We process all payments through PayPal.<br>
      For each delivery, the Sender must authorize a Preapproved Payment:
      <ul>
        <li>For your own Delivery Requests - a Preapproved Payment for the amount you set when creating the Delivery Request.</li>
        <li>For a Transporter's Delivery Suggestion - a Preapproved Payment for the amount set by the Transporter when creating the Delivery Suggestion.</li>
      </ul>
      When the delivery is complete, PayPal will transfer the Preapproved Payment amount to the Transporter.
    </div>
    <div class="faq_question">
      Should I add all the details to my Delivery Request/Suggestion?
    </div>
    <div class="faq_answer">
      You don't have to, but you definitely should!<br>
      Why, you ask?<br>
      When you add all the details to your Delivery Request/Suggestion, it is then marked as <b>has all details</b>.<br>
      This gives you 2 things:
      <ul>
        <li>Priority in our lists</li>
        <li>More Transporters/Senders coming your way!</li>
      </ul>
      That's why it's very important to fill out all the details.
    </div>
    <div class="faq_title">
      Transporter
    </div>
    <div class="faq_question">
      When do I get paid for the task?
    </div>
    <div class="faq_answer">
      You get paid after you have successfully performed a delivery, which can be either:
      <ul>
        <li>A Sender's Delivery Request of which you are the confirmed Transporter.</li>
        <li>Your own Delivery Suggestion accepted and confirmed by a Sender.</li>
      </ul>
    </div>
    <div class="faq_question">
      Do I need to pay taxes?
    </div>
    <div class="faq_answer">
      You need to pay taxes according to the law in your state/country. Nevertheless, in most countries there is a minimum for income tax exemption.
    </div>
    <div class="faq_question">
      How do I know there is nothing illegal in the package I'm delivering?
    </div>
    <div class="faq_answer">
      We do our best to verify all of our Senders and Transporters.<br>
      We do whatever we can to make sure nothing illegal is being delivered.<br>
      It is, however, your ultimate responsibility not to take any packages you suspect are illegal to deliver.
    </div>
    <div class="faq_question">
      Can I delete my Delivery Suggestions?
    </div>
    <div class="faq_answer">
      You can delete your Delivery Suggestions, as long as you haven't confirmed a Sender.
      Nevertheless , we don’t recommend doing so.<br>
      Try to avoid the creation of Delivery Suggestions you're not sure about.
    </div>
    <div class="faq_question">
      How can I contact the Sender about the delivery?
    </div>
    <div class="faq_answer">
      We provide 3 ways of communicating with other users:
      <ul>
        <li>Leave a comment to creator of Delivery Request/Suggestion (Visible for everyone)</li>
        <li>After accepting a Delivery Request/Suggestion, you can send a direct message to its creator (Visible for the 2 of you alone).</li>
        <li>After being confirmed for a Delivery Request/Suggestion, you can call its creator via mobile phone (Visible for the 2 of you alone)</li>
      </ul>
    </div>
    <div class="faq_question">
      Can I cancel a task after I've already picked up the delivery?
    </div>
    <div class="faq_answered">
      We expect our Transporters to successfully complete delivery tasks they take upon themselves.
      If, for some reason,  you think you can’t deliver, you will need to contact the Sender and inform him about the situation.
      You will not get paid for the delivery.
    </div>
    <div class="faq_title">
      Sender
    </div>
    <div class="faq_question">
      How can I trust the person I am passing my package with?
    </div>
    <div class="faq_answer">
      We do our best to verify all of our Transporters and Senders.<br>
      We do so in 4 ways:
      <ul>
        <li>We verify your mobile phone number (Cannot accept/confirm deliveries without this).</li>
        <li>We verify your Facebook account.</li>
        <li>We verify your Email address.</li>
        <li>We have a simple, yet effective user rating system.</li>
      </ul>
      If you are good, and have verified all of your details, others will give you good reviews, and you will get confirmed for more deliveries.
      Make a reputation for yourself, and become a top Transporter or Sender!
    </div>
    <div class="faq_question">
      Can I delete my Delivery Requests?
    </div>
    <div class="faq_answer">
      You can delete your Delivery Requests, as long as you haven't confirmed a Transporter.
      Nevertheless , we don’t recommend doing so.<br>
      Try to avoid the creation of Delivery Requests you're not sure about.
    </div>
    <div class="faq_question">
      How can I contact the Transporter about the delivery?
    </div>
    <div class="faq_answer">
      We provide 3 ways of communicating with other users:
      <ul>
        <li>Leave a comment to creator of Delivery Request/Suggestion (Visible for everyone)</li>
        <li>After accepting a Delivery Request/Suggestion, you can send a direct message to its creator (Visible for the 2 of you alone).</li>
        <li>After being confirmed for a Delivery Request/Suggestion, you can call its creator via mobile phone (Visible for the 2 of you alone)</li>
      </ul>
    </div>
    <div class="faq_question">
      How much will it cost me to have something delivered?
    </div>
    <div class="faq_answer">
      You decide how much you are willing to pay for the delivery of your package.<br>
      Needless to say - the more you are willing to pay, the quicker you will find a Transporter!
    </div>
    <div class="faq_question">
      How do I pay the Transporter?
    </div>
    <div class="faq_anwser">
      We process all payments through PayPal.<br>
      For each delivery, the Sender must authorize a Preapproved Payment:
      <ul>
        <li>For your own Delivery Requests - a Preapproved Payment for the amount you set when creating the Delivery Request.</li>
        <li>For a Transporter's Delivery Suggestion - a Preapproved Payment for the amount set by the Transporter when creating the Delivery Suggestion.</li>
      </ul>
      When the delivery is complete, PayPal will transfer the Preapproved Payment amount to the Transporter.
    </div>
    <div class="faq_question">
      What does <b>sendd.me</b> charge me?
    </div>
    <div class="faq_answer">
      we also charge 15% out of each delivery cost.
    </div>
    <div class="faq_question">
      Are there any items I'm not allowed to have delievered?
    </div>
    <div class="faq_answer">
      Yes, absolutely - anything that is illegal in any way at all.
    </div>
    <div class="faq_email">
      For any other questions, don’t hesitate to email us - <b>info@sendd.me</b>
    </div>
  </div>
</div>
