<% if signed_in? %>
    <%= render 'shared/request_delivery_form' %>
<% else  %>
    <div class="center hero-unit">
      <h1>The Carry Project</h1>
      <h2> This is The Carry Project Home.</h2>
      <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
    </div>
<% end %>
