<div class="home_top_container">
  <div class="top_tagline">
    <b>Going places? Get paid for it.</b>
  </div>
  <div class="middle_tagline">
    <b>sendwith.me</b> is where people who wish to send items, <br>
    and people who can deliver, find one another.
  </div>
  <div class="two_main_buttons" id="main_div">
    <div class="right_button"  onclick="location.href='/request'">
      <b>Send With Someone.</b>
    </div>
    <div class="left_button" onclick="location.href='/suggest'">
      <b>Transport Something.</b>
    </div>
  </div>
</div>