<% if signed_in? %>
    <div class="home_top_container">
      <div class="two_main_buttons" id="main_div">
        <div class="right_button"  onclick="location.href='#'" id="SendSomething">
          <b>Send With Someone.</b>
        </div>
        <div class="left_button" onclick="location.href='#'" id="PassSomething">
          <b>Pass For Someone.</b>
        </div>
      </div>
      <div class="two_pass_buttons" id="pass_div">
        <div class="right_button"  onclick="location.href='/requests'" style="background-image: url('../assets/send_browse.png');">
          <b>Browse Our Send Requests.</b>
        </div>
        <div class="left_button" onclick="location.href='/suggest'" style="background-image: url('../assets/pass_new.png');">
          <b>Post Your Pass Suggestion.</b>
        </div>
      </div>
      <div class="two_send_buttons" id="send_div">
        <div class="right_button"  onclick="location.href='/suggestions'" style="background-image: url('../assets/pass_browse.png');">
          <b>Browse Our Pass Suggestions.</b>
        </div>
        <div class="left_button" onclick="location.href='/request'" style="background-image: url('../assets/send_new.png');">
          <b>Post Your Send Request.</b>
        </div>
      </div>
    </div>
<% else  %>
    <div class="center hero-unit">
      <h1>The Carry Project</h1>
      <h2> This is The Carry Project Home.</h2>
      <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
    </div>
<% end %>
