var form = $('#new_phone');

<% if @phone.errors.any? %>

// Delete errors from previous submission
if ($(".phone_errors")[0]){
    $('.phone_errors').remove();
}

// Create a list of errors
var errors = $('<ul />');

// Display only first error for each field
<% @phone.errors.each do |attribute, message| %>
    <% if @phone.errors[attribute].first == message %>
        errors.append('<li><%= escape_javascript(message) %></li>');
    <% end %>
<% end %>

// Display errors before the form
$('<div />').addClass('phone_errors').html(errors).appendTo("#new_phone").hide().fadeIn('slow');

<% else %>
        // On successful creation of new user, redirect to main page
        window.location.href = "<%= phone_verify_path(@phone.user_id) %>"
<% end %>