  <div class="container">
    <div class="row text-center">
      <div class="col-md-4 col-md-offset-4">
        <h1>SaferVPN Login</h1>
        <p class="sub-head">
          Not a user?
          <a href="signup">Sign Up</a>
          Now.
        </p>
        <form action="/login.php" method="post" role="form">
          <div class="form-group">
            <div class="form-group">
              <input type="hidden" value="c76cebc18d552a7b89dc75cb97a63a37f65e0f61" name="csrf">
              <input id="fname" class="form-control" type="text" placeholder="First Name" style="display:none;" name="fname">
              <input id="lname" class="form-control" type="text" placeholder="Last Name" style="display:none;" name="lname">
              <button class="btn btn-primary btn-block btn-lg" type="submit">Login</button>
        </form>
        <hr>
        <p>
          <a href="https://www.safervpn.com/members/pwreset.php">Forgot your password?</a>
        </p>
      </div>
    </div>
  </div>
