<div class="signup_form_class" style="height:200px">
  <div class="form_title">
    <b style="padding-left:35px">Reset Your Password</b>
  </div>
  <%= form_tag password_resets_path, :method => :post, :html => { :id => "new_password_reset" } do %>
      <div class="signup_fields" style="height: 50px">
        <div class="myfield_signup">
          <%= label_tag :email, "What's your Email Address?" %>
          <%= text_field_tag :email, params[:email] %>
        </div>
      </div>
      <div class="button_signup">
        <%= submit_tag "Reset Password", :type => :image, :src => "../assets/SendResetInstructions.png" %>
      </div>
  <% end %>
</div>
