<div class="modal_title">
  Delivery Task Completion
</div>
<div class="modal_text">
  You're about to be mark this delivery request as complete.<br>
  This will trigger  a transaction from <div class="special">PayPal</div> for <div class="special"><%= @request_delivery.cost %> <%= @request_delivery.currency %></div>.<br><br>
  <div class="special">You</div> will receive 85% of the above amount.<br>
  <div class="special">sendd.me</div> will receive 15% of the above amount.<br><br>
  By proceeding you admit to having performed the delivery task.
</div>
<div class="modal_proceed">
<%=  link_to "Complete Delivery",
               {:controller => "request_deliveries",
                :action => "complete",
                :accepted_request_id => @accepted_request.id,
                :request_delivery_id => @accepted_request.request_delivery_id  }, :id => "submit_activity",
               class: "trigger" %>
</div>
