<div class="modal_title">
  Payment Authorization
</div>
<div class="modal_text">
  You're about to be redirected to <div class="special">PayPal</div> in order to authorize future payment.<br><br>
  By proceeding you are aware that <div class="special">sendd.me</div> takes 10% commission from the amount being authorized (<div class="special"><%= @request_delivery.cost %> <%= @request_delivery.currency %></div>).
</div>
<div class="modal_proceed">
<%=  link_to "Proceed to PayPal",
               {:controller => "request_deliveries",
                :action => "confirm",
                :accepted_request_id => @accepted_request.id,
                :request_delivery_id => @accepted_request.request_delivery_id  }, :id => "submit_activity",
               class: "trigger" %>
</div>


