<div class="index_activity">
  <div class="activity_data" style="margin-left:auto; margin-right:auto;">
    <div class="activity_title" style="background-image: url('../assets/contact.png');margin-bottom:15px;">
      <b style="padding-left: 70px;">My Conversations</b>
    </div>
    <% if @my_conversations.any?  %>
        <%= render (mailbox.inbox + mailbox.sentbox).sort_by { |conversation| conversation.last_message.created_at }.reverse.uniq %>
    <% else  %>
        <div class="no_active_conversations">
          You don't have any active conversations.
        </div>
    <% end  %>
  </div>
   <% if @trashed.any? %>
      <div class="activity_data" style="margin-left:auto; margin-right:auto;margin-top:20px;">
        <div class="activity_title" style="background-image: url('../assets/trash.png');margin-bottom:15px;">
          <b style="padding-left: 55px;">My Trash</b>
        </div>
        <% mailbox.trash.each do |conversation| %>
            <% if (conversation.receipts_for(current_user).where("deleted = ?", true).empty?) %>
                <%= render conversation %>
            <% else  %>

            <% end %>
        <% end %>
        <div class="EmptyTrash">
          <%= link_to image_tag("EmptyTrash.png"), 'empty_trash' %>
        </div>
      </div>
  <% end %>
  <div class="go_back" style="margin-top:10px;">
    <%= link_to image_tag("Back.png"),  :back %>
  </div>
</div>