<!DOCTYPE html>
<html>
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
    <h2>Hi there <%= @creating_user.name %>,</h2><br>
    <h3>It seems <b style="color:#279227"><%= @accepting_user.name  %></b> has accepted your request - "<b style="color:#63a2ff"><%= @request_delivery.what %></b>"!</h3>
    <h3>Go to your <%= link_to "Activity", :controller => "activities", :action => "index", :host => "sendwithme.herokuapp.com" %> page in order to confirm!</h3>
    <p>
    <h3>Yours, Someone</h3>
    </p>
</body>
</html>