<!DOCTYPE html>
<html>
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
    <h2>Hi there <%= @accepting_user.name %>,</h2><br>
    <h3>It seems <b style="color:#279227"><%= @creating_user.name  %></b> has confirmed you for their request - "<b style="color:#63a2ff"><%= @request_delivery.what %></b>"!</h3>
    <h3>You will be paid once the request is complete.</h3>
    <p>
    <h3>Yours, Someone</h3>
    </p>
</body>
</html>