<!DOCTYPE html>
<html>
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
    <h2>Hi there <%= @accepting_user.name %>,</h2><br>
    <h3>It seems <b style="color:#279227"><%= @creating_user.name  %></b> has confirmed you for their suggestion - "<b style="color:#63a2ff"><%= @suggest_delivery.size %> Sized Items</b>"!</h3>
    <h3>In order to proceed, we need you to authorize payment preapproval.</h3>
    <h3>You can do that by going to your <%= link_to "Activity Page", :controller => "activities", :action => "index", :host => "www.sendd.me" %>.</h3>
    <p>
    <h3>Thank you,</h3>
    <h3>Best Regards,</h3>
    <h3>sendd.me Support</h3>
    </p>
</body>
</html>