<section id="find_an_item">
  <div class="container">
    <div class="row text-center">
    <div class="col-md-12">
      <% if @request_feed_items.any? %>
          <%= render partial: 'shared/request_feed_takers_item', collection: @request_feed_items %>
      <% else  %>
          <h3><center>No Giveaways available at the moment!</center></h3>
      <% end  %>
      </div>
    </div>
  </div>
</section>