<section id="good_for_everyone">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-12">
        <h1>What can you use <strong>sendd.me</strong> for?</h1>
        <p class="sub_title">We'd like to make sure everyone gets what they want.</p>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-3">
      </div>
      <div class="col-md-3">
      </div>
      <div class="col-md-3">
      </div>
    </div>
  </div>
</section>