<section id="good_for_everyone">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-12">
        <h1>What can you use <strong>sendd.me</strong> for?</h1>
        <p class="sub_title">We'd like to make sure everyone gets what they want.</p>
      </div>
    </div>
    <div class="row text-center" style="margin-bottom:20px;">
      <div class="col-md-4">
        <%= image_tag("give_something.png") %>
        <h2>Give</h2>
        <p class="good_for_everyone_desc">
          Got anything you're not using anymore?<br>
          Don't throw it away!<br>
          Post it here, surely someone wants it!
        </p>
        <button class="good_for_button btn-large btn-danger" type="submit">
          Add Giveaway
        </button>
      </div>
      <div class="col-md-4">
        <%= image_tag("get_something.png") %>
        <h2>Receive</h2>
        <p class="good_for_everyone_desc">
          Looking for a TV? A washing machine?<br>
          Well, you've come to the right place.<br>
          Find what Giveaways are avavailable!
        </p>
        <button class="good_for_button btn-large btn-danger" type="submit">
          Browse Giveaways
        </button>
      </div>
      <div class="col-md-4">
        <%= image_tag("transport_something.png") %>
        <h2>Deliver</h2>
        <p class="good_for_everyone_desc">
          Interested in getting paid? <br>
          Spare room in your car?<br>
          Make pick ups for those in need!
        </p>
        <button class="good_for_button btn-large btn-danger" type="submit">
          Make a Delivery
        </button>
      </div>
    </div>
  </div>
</section>
