<%= render 'static_pages/home_renders/slider' %>
<div class="slider">
  <section class="top_section1" id="1">
    <div class="container">
      <div class="hero-unit">
        <div class="row">
          <div class="col-md-12">
            <h1>Give away what you don't need.</h1>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="top_section2" id="2">
    <div class="container">
      <div class="hero-unit">
        <div class="row">
          <div class="col-md-12">
            <h1>Receive others' Giveaways for free.</h1>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="top_section3" id="3">
    <div class="container">
      <div class="hero-unit">
        <div class="row">
          <div class="col-md-12">
            <h1>Get paid transporting stuff.</h1>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<div class="slider_nav">
  <div class="user_type" style="border-right: 2px solid #ffffff">
    <span name="givers">Givers</span>
  </div>
  <div class="user_type" style="border-right: 2px solid #ffffff">
    <span name="receivers">Receivers</span>
  </div>
  <div class="user_type">
    <span name="transporters">Transporters</span>
  </div>
</div>

