<%= render 'static_pages/home_renders/slider' %>
<div class="slider">
  <section class="top_section1" id="1">
    <div class="container">
      <div class="hero-unit">
        <div class="row">
          <div class="col-md-12">
            <h1>Give away what you don't need.</h1>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="top_section2" id="2">
    <div class="container">
      <div class="hero-unit">
        <div class="row">
          <div class="col-md-12">
            <h1>Receive others' Giveaways for free.</h1>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="top_section3" id="3">
    <div class="container">
      <div class="hero-unit">
        <div class="row">
          <div class="col-md-12">
            <h1>Get paid transporting stuff.</h1>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<div class="slider_nav">
  <div class="arrow-down1" id="4"></div>
  <div class="arrow-down2" id="5"></div>
  <div class="arrow-down3" id="6"></div>
  <div class="user_type" name="givers" style="border-right: 2px solid #ffffff">
    <span>Givers</span>
  </div>
  <div class="user_type" name="receivers" style="border-right: 2px solid #ffffff">
    <span>Receivers</span>
  </div>
  <div class="user_type" name="transporters">
    <span>Transporters</span>
  </div>
</div>

