<%= render 'static_pages/home_renders/slider' %>
<div class="slider">
  <section class="top_section1" id="1">
    <div class="container">
      <div class="hero-unit">
        <div class="row">
          <div class="col-md-12">
            <h1>Some stuff.</h1>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="top_section2" id="2">
    <div class="container">
      <div class="hero-unit">
        <div class="row">
          <div class="col-md-12">
            <h1>Some other stuff.</h1>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="top_section3" id="3">
    <div class="container">
      <div class="hero-unit">
        <div class="row">
          <div class="col-md-12">
            <h1>Nothing to see here.</h1>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<div class="slider_nav">
  <span name="givers"> Givers </span> -
  <span name="receivers"> Receivers </span> -
  <span name="transporters"> Transporters </span>
</div>

