<section id="top_section">
  <div class="container">
    <div class="hero-unit">
      <div class="row">
        <div class="col-md-12">
          <h1>Some fancy title here.</h1>
          <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. </p>
          <div class="search-form">
            <form id="homepage-filters" method="get" action="/fi/homepage" accept-charset="UTF-8">
              <div style="margin:0;padding:0;display:inline">
                <input type="hidden" value="✓" name="utf8">
              </div>
              <div class="search-form-input search-form-text-field">
                <input id="q" type="text" placeholder="What can you give? (A TV, A Mixer)" name="q">
                <button id="search-button" class="btn btn-success" type="submit">
                  Add Giveaway
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
