var form = $('#new_user');

<% if @user.errors.any? %>

// Delete errors from previous submission
if ($(".signup_errors")[0]){
    $('.signup_errors').remove();
}

// Create a list of errors
var errors = $('<ul />');

// Delete password_digest error is such exists
<% if @user.errors.has_key?(:password_digest) %>
<% @user.errors.delete(:password_digest) %>
<% end %>

// Display only first error for each field
<% @user.errors.each do |attribute, message| %>
<% if @user.errors[attribute].first == message %>
errors.append('<li><%= escape_javascript(message) %></li>');
<% end %>
<% end %>

// Display errors before the form
$('<div />').addClass('signup_errors').html(errors).appendTo("#new_user").hide().fadeIn('slow');

<% else %>

<% sign_in @user %>
<% if session[:take_after_not_signed_in_request_delivery_id].present? %>
$.ajax({
    url: '/request_deliveries/<%= @request_delivery.id %>/take?type=take',
    type: 'PUT',
    success: function(result) {
        <% session[:take_after_not_signed_in_request_delivery_id]  = nil %>
    }
});
<% elsif session[:pick_up_after_not_signed_in_request_delivery_id].present? %>
$.ajax({
    url: '/request_deliveries/<%= @request_delivery.id %>/accept?type=accept',
    type: 'PUT',
    success: function(result) {
        <% session[:pick_up_after_not_signed_in_request_delivery_id]  = nil %>
    }
});
<% end %>
// On successful creation of new user, redirect to email verification action
    window.location.href = "<%= verify_path(@user.id) %>"
<% end %>
