var form = $('#new_user');

<% if @user.errors.any? %>

// Delete errors from previous submission
if ($(".signup_errors")[0]){
    $('.signup_errors').remove();
}

// Create a list of errors
var errors = $('<ul />');

// Delete password_digest error is such exists
<% if @user.errors.has_key?(:password_digest) %>
    <% @user.errors.delete(:password_digest) %>
<% end %>

// Display only first error for each field
<% @user.errors.each do |attribute, message| %>
    <% if @user.errors[attribute].first == message %>
        errors.append('<li><%= escape_javascript(message) %></li>');
    <% end %>
<% end %>

// Display errors before the form
$('<div />').addClass('signup_errors').html(errors).appendTo("#new_user").hide().fadeIn('slow');

<% else %>

// On successful creation of new user, redirect to main page
<% if session[:request_delivery_what].present? %>
    <% session[:request_delivery_what] = nil %>
    <% session[:request_delivery_from]  = nil %>
    <% session[:request_delivery_to] = nil %>
    <% session[:request_delivery_cost] = nil %>
    <% session[:request_delivery_currency] = nil %>
    window.location.href = "<%=request_delivery_url(@request_delivery) %>"
<% elsif session[:suggest_delivery_size].present? %>
    <% session[:suggest_delivery_from]  = nil %>
    <% session[:suggest_delivery_to] = nil %>
    <% session[:suggest_delivery_cost] = nil %>
    <% session[:suggest_delivery_currency] = nil %>
    window.location.href = "<%=suggest_delivery_url(@suggest_delivery) %>"
<% else %>
    <% url = session[:return_to] || root_path %>
    <% session[:return_to] = nil if session[:return_to].present? %>
    window.location.href = "<%= url %>"
<% end %>
<% end %>