<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name  %>
        <% if @user == current_user  %>
            <%= link_to "Sign out", signout_path, method: "delete"  %>
         <% end  %>
      </h1>
    </section>
  </aside>
</div>

