<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <% if facebook_authorization(current_user)  %>
            <%= facebook_profile_photo(current_user,"profile") %>
        <% else  %>
            <%= gravatar_for @user %>
        <% end  %>
        <%= @user.name  %>
        <% if @user == current_user  %>
            <%= link_to "Sign out", signout_path, method: "delete"  %>
         <% end  %>
      </h1>
    </section>
  </aside>
</div>

