<div class="missing_detail">
  <div class="bubbleInfo">
    <%= image_tag("missing_detail.png", class: "trigger") %>
    <div class="popup" style="height:45px; width:190px; margin-top:33px;text-align: center;">
      This detail is <b style="color:#FF0523">missing</b>.<br>
      Go to<b style="color:#ff9054"> Edit </b><%= image_tag("../assets/edit_post.png") %> and add it.
      <div id="tail1" style="left:33px"></div>
      <div id="tail2" style="left:33px"></div>
    </div>
  </div>
</div>