<div class="suggestposts">
  <% if @suggest_feed_items.any? %>
      <%= render partial: 'shared/suggest_feed_item', collection: @suggest_feed_items %>
  <% end  %>
  <div class="go_back">
    <%= link_to image_tag("Back.png"),  :back %>
  </div>
</div>