<% if @accepted_request.present? && @request_delivery.status == "Pending Confirmation" %>
    <div class="giveaway_status_wrapper">
      <div class="giveaway_status_title">
        Pick up Accepted
        <div class="giveaway_status_data">
          You've chosen to accept this Pick up request.<br>
          Please be patient until <%= link_to @taking_user.name, @taking_user %> confirms you.
        </div>
      </div>
    </div>
<% elsif @request_delivery.status == "WaitingForTransporter" ||
        @request_delivery.status == "Pending Confirmation" %>
    <div class="ready_to_go_wrapper" style="margin-bottom: 10px;margin-top: 20px;">
      <a href="<%= @request_delivery.facebook_share_pick_up_other %>" target="_blank" class="facebook_share">
        Help finding a Transporter - Share on Facebook
      </a>
    </div>
    <div class="giveaway_status_wrapper">
      <div class="giveaway_status_title">
        Pick up Open
        <div class="giveaway_status_data">
          This Pick up request is open for grabs!
        </div>
      </div>
    </div>
<% end %>
