<div class="delete_post_big">
  <div class="bubbleInfo">
    <%=  link_to image_tag("delete_post_big.png"), @request_delivery, method: :delete, class: "trigger" %>
    <div class="popup" style="height:15px; width:160px; margin-top:67px;text-align: center;">
      <b style="color:#FF0523">Delete</b> your giveaway.
      <div id="tail1" style="left:37px"></div>
      <div id="tail2" style="left:37px"></div>
    </div>
  </div>
</div>