<!DOCTYPE html>
<html>
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
    <h2>Hi there <%= @message.recipients.first.name %>,</h2><br>
    <h3>It seems <b style="color:#279227"><%= @message.sender.name  %></b> has sent you a message! </h3>
    <h3>The subject of the message is - <b style="color:#3357ff"><%=  @message.subject  %></h3>
    <h3>Why don't you go to <%= link_to "www.sendd.me", root_url %> and see for yourself?</h3>
    <p>
    <h3>Yours, Someone</h3>
    </p>
</body>
</html>