<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h2>Hi there <%= @message.recipients.first.name %>,</h2><br>
    <h3>It seems <b style="color:#279227"><%= @message.sender.name  %></b> has replied to one of your messages!</h3>
    <h3>Why don't you go to <%= link_to "sendwithme.herokuapp.com", root_url %> and see for yourself?</h3> <br>
    <p>
        <h3>Yours, Someone</h3>
    </p>
  </body>
</html>