  <div class="home_container1">
    <div class="main_logo">
      <%= image_tag("Logo.png") %>
    </div>
    <div class="top_tagline">
      <b>Everyone deserves a second hand chance.</b>
    </div>
    <div class="two_main_buttons" id="main_div">
      <b><%=  link_to "Give Something Away.", request_path, class:"right_button modal-link",
                      "data-target" => "#myModal",
                      "data-toggle" => "modal",
                      "data-backdrop" => "static" %></b>
      <div class="left_button" onclick="location.href='/giveaways'">
        <b>Find an Item You Want.</b>
      </div>
    </div>
    <div class="subtop_tagline">
      <b>sendd.me</b> is here to help with your second hand pick ups.<br>
      People give away items, But you can't always pick them up.<br>
      We'll get those items for  you - from their location, to yours!
    </div>
  </div>
