<div class="modal fade hide" id="phoneVerifyModal" tabindex="-1" role="dialog" aria-labelledby="phoneVerifyModalLabel" aria-hidden="true" >
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><%= image_tag("CloseThis.png")%></button>
    <h3 id="phoneVerifyModalLabel"></h3>
  </div>
  <div class="modal-body">
    <center><%= image_tag("Logo.png") %></center>
  </div>
</div>