
.activity_data {
  width: 48%;
  background-color: #1d79e2;
  -moz-box-shadow: 5px 5px 5px #333333;; /* Old Firefox */
  box-shadow: 5px 5px 5px #333333;
  border:solid 3px;
  border-radius:10px;
  -moz-border-radius:10px; /* Old Firefox */
  color: #ffffff;
  border-color: #000000;
}

.activity_title {
  position:relative;
  text-align: left;
  height:35px;
  padding-top:14px;
  font-size: 2.6em;
  border-bottom:solid 2px;
  border-color: #18212e;
  background-color:#00008b;
  background-repeat: no-repeat;
  background-position: bottom left;
  -moz-border-radius: 0px;
  -webkit-border-radius: 3px 3px 0px 0px;
  border-radius: 3px 3px 0px 0px;
  a {
    color: #f2ff5e;
    text-decoration: none;
    &:hover {
      color: #cccccc;
    }
  }
}

.sub_activity {
  font-size:1.6em;
  width: 90%;
  background-color: #10529b;
  background-repeat: no-repeat;
  background-position: bottom left;
  border:1px solid;
  border-radius:4px;
  -moz-border-radius:10px; /* Old Firefox */
  color: #ffffff;
  border-color: #000000;
  margin-left: auto;
  margin-right: auto;
  margin-top:10px;
  margin-bottom:10px;
  b {
    font-size: 0.8em;
  }
}

.sub_activity_title {
  position:relative;
  text-align: left;
  height:25px;
  padding-top:7px;
  padding-bottom: 5px;
  padding-left:5px;
  margin-bottom:5px;
  font-size: 1.3em;
  border-bottom:solid 1px;
  border-color: #18212e;
  background-color: #6a6cae;
  background-repeat: no-repeat;
  background-position: bottom left;
  -moz-border-radius: 0px;
  -webkit-border-radius: 3px 3px 0px 0px;
  border-radius: 3px 3px 0px 0px;
}

.activity_feed_item {
  position: relative;
  width: 95%;
  background-color: #070757;
  border:1px solid;
  border-radius:2px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left:5px;
  color: #ffffff;
  border-color: #000000;
  margin-bottom: 1%;
  margin-left:auto;
  margin-right: auto;
  b {
    font-size:1em;
  }
}

.activity_feed_item_info {
  a {
    color: #f2ff5e;
    text-decoration: none;
    &:hover {
      color: #ffffff;
      text-decoration: none;
    }
  }
}

.status_and_created {
  font-size: 0.7em;
}

.no_active {
  padding:10px;
  text-align: center;
}