
.activity_data {
  width: 31%;
  display: inline-block;
  vertical-align: top;
  margin-right: 15px;
  background-color: #1d79e2;
  -moz-box-shadow: 5px 5px 5px #6b6b6b; /* Old Firefox */
  box-shadow: 5px 5px 5px #6b6b6b;
  border:solid 1px;
  border-radius:8px;
  -moz-border-radius:10px; /* Old Firefox */
  color: #ffffff;
  border-color: #000000;
}

.activity_title {
  position:relative;
  text-align: left;
  height:37px;
  padding-top:14px;
  font-size: 30px;
  border-bottom:solid 2px;
  border-color: #18212e;
  background-color:#00008b;
  background-repeat: no-repeat;
  background-position: bottom left;
  -moz-border-radius: 0px;
  -webkit-border-radius: 3px 3px 0px 0px;
  border-radius: 3px 3px 0px 0px;
  a {
    color: #f2ff5e;
    text-decoration: none;
    &:hover {
      color: #ffffff;
    }
  }
}

.sub_activity {
  font-size:1.6em;
  width: 95%;
  color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  margin-top:10px;
  margin-bottom:40px;
  b {
    color: #d7f7ff
  }
}

.sub_activity_title {
  position:relative;
  text-align: left;
  height:25px;
  padding-top:7px;
  padding-bottom: 5px;
  padding-left:0px;
  margin-bottom:5px;
  font-size: 1.3em;
}

.activity_feed_item {
  position: relative;
  width: 95%;
  background-color: #10529b;
  border:1px solid;
  border-radius:2px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left:5px;
  color: #ffffff;
  border-color: #000000;
  margin-bottom: 3%;
  margin-left:auto;
  margin-right: auto;
  b {
    font-size:1em;
  }
}

.activity_feed_item_info {
  a {
    color: #f2ff5e;
    text-decoration: none;
    &:hover {
      color: #ffffff;
      text-decoration: none;
    }
  }
}

.activity_created {
  position: absolute;
  font-size: 12px;
  right:2px;
  bottom:-2px;
}

.activity_status_inner {
  text-align: center;
  width: 220px;
  background-color: #d05e0b;
  background-repeat: no-repeat;
  background-position: bottom center;
  border:solid 1px;
  border-radius:7px;
  -moz-border-radius:10px; /* Old Firefox */
  color: #ffffff;
  border-color: #000000;
  margin-top:10px;
  margin-bottom:10px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size:23px;
  font-weight: bold;
}

.activity_content {
  margin-top:10px;
  margin-bottom: 10px;
  font-size:15px;
}

.status_and_created {
  font-size: 0.7em;
}

.no_active {
  padding:10px;
  text-align: center;
}

.send_messages_to_users {
  position:relative;
  margin:5px;
}

.needs_to_confirm {
  padding:5px;
}


.confirm_me {
  position:absolute;
  right:3px;
  top:3px;
  margin-left: 3px;
  z-index: 10;
}

.send_message {
  position:absolute;
  right:33px;
  top:3px;
  margin-left: 3px;
  z-index: 10;
}

#submit_activity {
  text-align: center;
  width: 440px;
  height: 75px;
  background-color: #d67a31;
  background-repeat: no-repeat;
  background-position: bottom center;
  -moz-box-shadow: 3px 3px 3px #3d3d3d; /* Old Firefox */
  box-shadow: 3px 3px 3px #3d3d3d;
  border:solid 1px;
  border-radius:7px;
  -moz-border-radius:10px; /* Old Firefox */
  color: #ffffff;
  border-color: #000000;
  padding:5px;
  margin-top:10px;
  margin-bottom:10px;
  margin-left: auto;
  margin-right: auto;
  font-size:25px;
}

#submit_activity:hover {
  background-color: #1d79e2;
}

.possible_transporter {
  background-color: #158537;
  background-repeat: no-repeat;
  background-position: bottom center;
  border:solid 1px;
  border-color: #000000;
  border-radius:4px;
  padding:3px;
  margin-right: 5px;
  margin-top:3px;
}