@import "bootstrap";

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
  font-family: Arial, Helvetica, sans-serif ;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

.show_request_delivery {
  display: block;
  width:900px;
  margin-left: auto;
  margin-right: auto;
}

.below_map {
  background-color: #1d79e2;
  -moz-box-shadow: 5px 5px 5px #333333;; /* Old Firefox */
  box-shadow: 5px 5px 5px #333333;
  border:1px solid;
  border-radius:1px;
  -moz-border-radius:10px; /* Old Firefox */
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 0px;
  padding-bottom: 10px;
  color: #ffffff;
  border-color: #000000;
}

.the_what_and_who {
  b {
    color: #334dff
  }
}

#current-delivery-map {
  height: 350px;
  width: 100%;
  -moz-box-shadow: 5px 5px 5px #333333;; /* Old Firefox */
  box-shadow: 5px 5px 5px #333333;
  border:1px solid;
  border-radius:1px;
  -moz-border-radius:10px; /* Old Firefox */
  margin-bottom: 20px;
  img {
     max-width: none;
  }
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: #fff;
    text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;
  a {
    color: #555;
    &:hover {
      color: #222;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

.new_delivery_request_class {
  margin-top: 7%;
  width:900px;
  margin-left: auto;
  margin-right: auto;
}

fieldset {
  border:none;
  width:320px;
  text-align: center;
}

legend {
  font-size:18px;
  margin:0px;
  padding:10px 0px;
  color:#b0232a; font-weight:bold;
  visibility:hidden;
}

label { 
  display:block;
  margin:15px 0 5px;
  font-size: 2.8em;
  margin-bottom: 35px;
  text-align: center;
  width: 800px;
}

input[type=text], input[type=password] { 
  width:600px;
  padding:12px;
  font-size: 1.5em;
  border:solid 1px #000;
}

textarea {
  width: 600px;
}

.radio_buttons {
  width: 600px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 5%;
  margin-top: 2%;
}

.radio_button label {
  font-size: 1em;
  display: inline;
}

.prev, .next, .finish {
  background-color: #3a6bb0;
  border: 1px solid #00002a;
  border-radius:7px;
  padding:5px 10px;
  margin-left: 10px;
  color:#fff;
  font-size: 2.4em;
  text-decoration:none;
}

.prev:hover, .next:hover, .finish:hover {
  background-color: #1d2953;
  color: #fff;
  text-decoration:none;
}

.step_class {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.step_command {
  float: center;
  margin-top: 35px;
}

#steps {
  list-style:none;
  width:500px;
  overflow:hidden;
  margin-left: auto;
  margin-right: auto;
  padding:0px;
}

#steps li {
  font-size:24px;
  float:left;
  padding:10px;
  color:#b0b1b3;
}

#steps li span {
  font-size:11px;
  display:block;
}

#steps li.current { 
  color:#000;
}

.field_with_errors label {
  display:block;
  font-size: 2.8em;
  margin-top: -5px;
  margin-bottom: 35px;
  text-align: center;
  width: 800px;
  color:#000000;
}

.field_with_errors .message {
  color: #ff0000;
  font-size: 22px;
  margin-top: 10px;
}

.feed_item {
  margin-bottom: 5%;
}

/* mixins, variables, etc. */

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
  margin-top: 10px;
  border: 1px solid #111111;

}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  padding: 10px;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

/* users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  }
}
