@import "bootstrap";

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
  font-family: Arial, Helvetica, sans-serif ;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

/* typography */

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

header {
  a {
    color: #eda358;
    &:hover {
      color: #cccccc;
    }
  }
}

.navbar {
  .navbar-inner {
    vertical-align: middle;
    border: 1px solid #000000;
    background-color: #1d79e2;
    background-image: none;

    .dropdown .dropdown-toggle {
      height: 23px;
    }

    .dropdown .dropdown-menu::before,
    .dropdown .dropdown-menu::after {
      border: none;
      content: none;
    }

    .dropdown .dropdown-menu {
      border: 1px solid #000000;
      border-radius: 2px;
      background-color: #1d79e2;
      .divider {
        border: black;
        background-color: black;
      }
    }
  }
  .border{
    border-right: 1px solid black;
    height: 43px;
  }
}

#header_items {
  padding-top: 1px;
  color: #ffffff;

  a {
    color: #ffffff;
    &:hover {
      text-decoration:underline;
    }
  }
}

.signup_form_class {
  width: 700px;
  height: 350px;
  text-align: center;
  background-color: #1d79e2;
  -moz-box-shadow: 5px 5px 5px #333333;; /* Old Firefox */
  box-shadow: 5px 5px 5px #333333;
  border:solid 3px;
  border-radius:10px;
  -moz-border-radius:10px; /* Old Firefox */
  color: #ffffff;
  border-color: #18212e;
  margin-right: auto;
  margin-left: auto;
}

.signin_form_class {
  width: 600px;
  height: 250px;
  text-align: center;
  background-color: #1d79e2;
  -moz-box-shadow: 5px 5px 5px #333333;; /* Old Firefox */
  box-shadow: 5px 5px 5px #333333;
  border:solid 3px;
  border-radius:10px;
  -moz-border-radius:10px; /* Old Firefox */
  color: #ffffff;
  border-color: #18212e;
  margin-right: auto;
  margin-left: auto;
}

.form_title {
  text-align: left;
  height:40px;
  padding-top:14px;
  font-size: 3.2em;
  border-bottom:solid 2px;
  border-color: #18212e;
  background:#00008b;
  -moz-border-radius: 0px;
  -webkit-border-radius: 3px 3px 0px 0px;
  border-radius: 3px 3px 0px 0px;
  b {
    padding-left: 15px;
  }
}


.myfield_signin label, .myfield_session input {
  display:inline-block;
}

.myfield_signin input {
  width:230px;
}

.myfield_signin label {
  text-align: left;
  vertical-align: middle;
  width: 170px;
  font-size: 2.0em;
}

.myfield_signup {
  margin-bottom: 30px;
  text-align: left;
  float: left;
  input {
    width: 250px;
  }
  label {
    width: 200px;
    font-size: 1.1em;
  }
}

.signup_fields {
   width: 550px;
   height: 200px;
   margin-right: auto;
   margin-left: auto;
   margin-top: 20px;
 }

.signin_fields {
  width: 550px;
  height: 100px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
}

.show_data {
  width: 57%;
  background-color: #1d79e2;
  -moz-box-shadow: 5px 5px 5px #333333;; /* Old Firefox */
  box-shadow: 5px 5px 5px #333333;
  border:solid 3px;
  border-radius:10px;
  -moz-border-radius:10px; /* Old Firefox */
  color: #ffffff;
  border-color: #000000;
}

.show_title {
  text-align: left;
  height:40px;
  padding-top:14px;
  font-size: 3.2em;
  border-bottom:solid 2px;
  border-color: #18212e;
  background-image: url('box.png');
  background-color:#00008b;
  background-repeat: no-repeat;
  background-position: bottom left;
  -moz-border-radius: 0px;
  -webkit-border-radius: 3px 3px 0px 0px;
  border-radius: 3px 3px 0px 0px;
  b {
    padding-left: 70px;
  }
}

.right_side {
  float:right;
  width: 40%;
}

.challenge_accepted {
  width: 100%;
  text-align: center;
  background-image: url('challenge_accepted.png');
  background-color: #257b2a;
  background-repeat: no-repeat;
  background-position: bottom left;
  -moz-box-shadow: 5px 5px 5px #333333;; /* Old Firefox */
  box-shadow: 5px 5px 5px #333333;
  border:solid 3px;
  border-radius:8px;
  -moz-border-radius:10px; /* Old Firefox */
  color: #ffffff;
  border-color: #000000;
  padding-top:14px;
  padding-bottom: 14px;
  margin-bottom: 20px;
  font-size: 2.6em;
}

.show_dates {
  width: 100%;
  background-color: #1d79e2;
  -moz-box-shadow: 5px 5px 5px #333333;; /* Old Firefox */
  box-shadow: 5px 5px 5px #333333;
  border:solid 3px;
  border-radius:10px;
  -moz-border-radius:10px; /* Old Firefox */
  color: #ffffff;
  border-color: #000000;
}

.show_dates_title {
  text-align: right;
  padding-top:11px;
  padding-bottom: 10px;
  font-size: 2.2em;
  border-bottom:solid 2px;
  border-color: #18212e;
  background-image: url('Calendar.png');
  background-color:#00008b;
  background-repeat: no-repeat;
  background-position: bottom left;
  -moz-border-radius: 0px;
  -webkit-border-radius: 3px 3px 0px 0px;
  border-radius: 3px 3px 0px 0px;
  b {
    padding-right: 30px;
  }
}

.show_dates_data {
  text-align: center;
  margin: 10px;
  font-size: 2em;
}

.the_what_and_who {
  width:100%;
  b {
    color: #8bceff
  }
}

.the_what {
  h2 {
    font-size:2.8em;
  }
}

.the_from_and_to {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 30px;
  line-height: 30px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  b {
    color: #8bceff
  }
}

.section_title {
  text-align: left;
  font-size: 2.8em;
  margin-bottom: 10px;
}

.the_from {
  display: inline-block;
  font-size:1.8em;
  width: 450px;
  text-align: center;
  background-image: url('LocationA.png');
  background-color: #10529b;
  background-repeat: no-repeat;
  background-position: bottom left;
  border:1px solid;
  border-radius:4px;
  -moz-border-radius:10px; /* Old Firefox */
  padding: 5px;
  color: #ffffff;
  border-color: #000000;
  margin-bottom: 10px;
}

.the_to {
  display: inline-block;
  font-size:1.8em;
  width: 450px;
  text-align: center;
  background-image: url('LocationB.png');
  background-color: #10529b;
  background-repeat: no-repeat;
  background-position: bottom left;
  border:1px solid;
  border-radius:4px;
  -moz-border-radius:10px; /* Old Firefox */
  padding: 5px;
  color: #ffffff;
  border-color: #000000;
}

.the_size_and_more_info {
  width: 100%;
  margin-bottom: 10px;
  line-height: 30px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

.more_info {
  display: inline-block;
  background-image: url('Info.png');
  background-color: #10529b;
  background-repeat: no-repeat;
  background-position: top left;
  border:1px solid;
  border-radius:4px;
  -moz-border-radius:10px; /* Old Firefox */
  font-size:1.8em;
  width: 450px;
  text-align: center;
  padding: 5px;
  color: #ffffff;
  margin-top: 10px;
  line-height: 30px;
  border-color: #000000;
}

.more_info_data {
  text-align: left;
  font-size: 0.8em;
  padding-left: 55px;
  color: #8bceff;
}

.the_size {
  display: inline-block;
  font-size:1.8em;
  width: 450px;
  text-align: center;
  background-color: #10529b;
  background-repeat: no-repeat;
  background-position: bottom left;
  border:1px solid;
  border-radius:4px;
  -moz-border-radius:10px; /* Old Firefox */
  padding: 5px;
  color: #ffffff;
  border-color: #000000;
  b {
    color: #8bceff;
  }
}

.the_deadline_and_money {
  margin-top: 20px;
  width: 100%;
  margin-bottom: 10px;
  line-height: 35px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  b {
    color: #8bceff
  }
}

.the_money {
  display: inline-block;
  font-size:1.8em;
  width: 450px;
  text-align: center;
  background-image: url('bounty.png');
  background-color: #257b2a;
  background-repeat: no-repeat;
  background-position: bottom left;
  border:1px solid;
  border-radius:4px;
  -moz-border-radius:10px; /* Old Firefox */
  padding: 5px;
  color: #ffffff;
  border-color: #000000;
  b {
    font-size: 1.8em;
    color: #ffffff;
  }
}

.the_sender_and_receiver {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 30px;
  line-height: 30px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  b {
    color: #8bceff
  }
}

.the_sender {
  display: inline-block;
  font-size:1.4em;
  width: 212px;
  text-align: center;
  background-image: url('SendingPerson.png');
  background-color: #10529b;
  background-repeat: no-repeat;
  background-position: bottom left;
  border:1px solid;
  border-radius:4px;
  -moz-border-radius:10px; /* Old Firefox */
  padding: 5px;
  color: #ffffff;
  border-color: #000000;
  margin-bottom: 10px;
  margin-right: 10px;
}

.the_receiver {
  display: inline-block;
  font-size:1.4em;
  width: 212px;
  text-align: center;
  background-image: url('ReceivingPerson.png');
  background-color: #10529b;
  background-repeat: no-repeat;
  background-position: bottom left;
  border:1px solid;
  border-radius:4px;
  -moz-border-radius:10px; /* Old Firefox */
  padding: 5px;
  color: #ffffff;
  border-color: #000000;
}

#current-delivery-map {
  height: 500px;
  -moz-box-shadow: 5px 5px 5px #333333;; /* Old Firefox */
  box-shadow: 5px 5px 5px #333333;
  border:1px solid;
  border-radius:2px;
  -moz-border-radius:10px; /* Old Firefox */
  margin-bottom: 20px;
  img {
     max-width: none;
  }
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: #fff;
    text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;
  a {
    color: #ededed;
    &:hover {
      color: #cccccc;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

.new_delivery_request_class {
  margin-top: 7%;
  width:900px;
  margin-left: auto;
  margin-right: auto;
}

.new_delivery_suggest_class {
  margin-top: 7%;
  width:900px;
  margin-left: auto;
  margin-right: auto;
}

fieldset {
  text-align: center;
  background-color: #1d79e2;
  -moz-box-shadow: 5px 5px 5px #333333;; /* Old Firefox */
  box-shadow: 5px 5px 5px #333333;
  border:solid 3px;
  border-radius:10px;
  -moz-border-radius:10px; /* Old Firefox */
  padding-bottom: 10px;
  color: #ffffff;
  border-color: #18212e;
}

legend {
  text-align: left;
  height:40px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 3.2em;
  border-bottom:solid 2px;
  border-color: #18212e;
  background:#00008b;
  -moz-border-radius: 0px;
  -webkit-border-radius: 3px 3px 0px 0px;
  border-radius: 3px 3px 0px 0px;
  color: #ffffff;
  b {
    padding-left: 15px;
  }
}

fieldset label {
  display:block;
  margin:15px 0 5px;
  font-size: 2.8em;
  margin-top: 50px;
  margin-bottom: 35px;
  text-align: center;
  width: 800px;
}

fieldset input[type=text] {
  width:600px;
  padding:12px;
  font-size: 1.5em;
  border:solid 1px #000;
}

textarea {
  width: 600px;
}

.radio_buttons {
  width: 600px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 5%;
  margin-top: 2%;
}

.radio_button label {
  font-size: 1em;
  display: inline;
}

.step_class {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.step_command {
  float: center;
  margin-top: 35px;
  margin-bottom: 15px;
}

#steps {
  list-style:none;
  width:600px;
  text-align: center;
  overflow:hidden;
  margin-left: auto;
  margin-right: auto;
  padding:0px;
}

#steps li {
  font-size:24px;
  display:inline-block;
  padding:10px;
  color:#b0b1b3;
}

#steps li span {
  font-size:11px;
  display:block;
}

#steps li.current { 
  color:#000;
}

.field_with_errors label {
  display:block;
  font-size: 2.8em;
  text-align: center;
  width: 800px;
  color: #ffffff;
}

.field_with_errors .message {
  width: 50%;
  margin: 0 auto;
  line-height: 30px;
  width: 600px;
  background-color: #c80000;
  border: 1px solid #111111;
  color: #ffffff;
  font-size: 22px;
  margin-top: 10px;
}

.signup_errors {
  margin: 0 auto;
  margin-top: 6%;
  padding: 5px;
  padding-top:12px;
  line-height: 30px;
  width: 600px;
  background-color: #c80000;
  border: 1px solid #111111;
  border-radius:5px;
  color: #ffffff;
  font-size: 17px;
  text-align: left;
}

.signin_errors {
  margin: 0 auto;
  margin-top: 8%;
  padding: 5px;
  padding-left: 10px;
  line-height: 30px;
  width: 500px;
  background-color: #c80000;
  border: 1px solid #111111;
  border-radius:5px;
  color: #ffffff;
  font-size: 17px;
  text-align: left;
}

.requestposts {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.suggestposts {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}


.feed_item {
  height: 160px;
  width: 600px;
  background-color: #1d79e2;
  -moz-box-shadow: 5px 5px 5px #333333;; /* Old Firefox */
  box-shadow: 5px 5px 5px #333333;
  border:1px solid;
  border-radius:2px;
  -moz-border-radius:10px; /* Old Firefox */
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 0px;
  padding-bottom: 10px;
  color: #ffffff;
  border-color: #000000;
  margin-bottom: 5%;
  position:relative;
}

.feed_request_title {
  margin-top: 10px;
  a {
    color: #ffffff;
    font-size: 2.4em;
  }
}

.feed_suggest_title {
  margin-top: 10px;
  a {
    color: #ffffff;
    font-size: 1.7em;
  }
}

.feed_from_and_to_request {
  margin-top: 5%;
  font-size: 1.2em;
}

.feed_from_and_to_suggest {
  margin-top: 3%;
  font-size: 1.2em;
}

.feed_can_deliver {
  margin-top: 5%;
  font-size: 1.2em;
}

.feed_item_money {
  text-align: center;
  width: 390px;
  position:absolute;
  bottom:0;
  left:0;
  margin-bottom: 10px;
  margin-left: 10px;
  background-color: #257b2a;
  border:1px solid;
  border-radius:2px;
  -moz-border-radius:10px; /* Old Firefox */
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #ffffff;
  border-color: #000000;
  font-size: 1.8em;
  a {
    color: #ffffff;
    font-size: 1.1em;
  }
}

.feed_item_map {
  margin-top:8px;
  border:1px solid;
  border-color: #000000;
  float:right;

}

/* mixins, variables, etc. */

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
  margin-top: 10px;
  border: 1px solid #111111;
}

/* forms */

input, textarea, select, .uneditable-input {
  @include box_sizing;
}

input {
  height: auto !important;
}

/* users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  }
}
