.faq_title {
  font-size:2.4em;
  margin-top:35px;
  margin-bottom: 15px;
}

.faq_question {
  font-size: 1.4em;
  color: #f2ff5e;
  margin-top: 20px;
  margin-bottom: 2px;
}

.faq_answer {
  b {
    color:#ff9054;
  }
}

.faq_email {
  margin:5px;
  text-align: center;
  font-size:1.1em;
  color:#ff9054;
}
