.alert-success {
  position: absolute;
  background-image: url('EarnMatePointsBG.png');
  background-color: #2276ca;
  background-repeat: no-repeat;
  background-position: bottom center;
  width: 500px;
  height: 350px;
  color: #ffffff;
  font-size: 2.5em;
  border: 1px solid #000000;
  left:150px;
  right:150px;
  line-height: 110%;
  margin-left:auto;
  margin-right:auto;
  text-align: center;
  font-family: Impact !important;
  -moz-box-shadow: 5px 5px 5px #333333;; /* Old Firefox */
  box-shadow: 5px 5px 5px #333333;
  border:1px solid;
  border-radius:10px;
  -moz-border-radius:10px; /* Old Firefox */
  z-index: 10;
}