.alert-signup_success {
  position: absolute;
  background-color: #1d4eff;
  background-repeat: no-repeat;
  background-position: bottom center;
  max-width:600px;
  height: 100px;
  font-size: 2.5em;
  border: 1px solid;
  color: #ffffff;
  left:150px;
  right:150px;
  line-height: 110%;
  margin-top:150px;
  margin-left:auto;
  margin-right:auto;
  text-align: center;
  font-family: Impact !important;
  -moz-box-shadow: 5px 5px 5px #333333;; /* Old Firefox */
  box-shadow: 5px 5px 5px #333333;
  border:1px solid;
  border-radius:10px;
  -moz-border-radius:10px; /* Old Firefox */
  border-color: #000000;
  z-index: 15;
}

.alert-profile_update {
  position: absolute;
  background-color: #1d4eff;
  background-repeat: no-repeat;
  background-position: bottom center;
  max-width:600px;
  height: 100px;
  font-size: 2.5em;
  border: 1px solid;
  color: #ffffff;
  left:150px;
  right:150px;
  line-height: 110%;
  margin-top:150px;
  margin-left:auto;
  margin-right:auto;
  text-align: center;
  font-family: Impact !important;
  -moz-box-shadow: 5px 5px 5px #333333;; /* Old Firefox */
  box-shadow: 5px 5px 5px #333333;
  border:1px solid;
  border-radius:10px;
  -moz-border-radius:10px; /* Old Firefox */
  border-color: #000000;
  z-index: 15;
}

.alert-send_reset {
  position: absolute;
  background-color: #1d4eff;
  background-repeat: no-repeat;
  background-position: bottom center;
  max-width:600px;
  height: 140px;
  font-size: 2.5em;
  border: 1px solid;
  color: #ffffff;
  left:150px;
  right:150px;
  line-height: 110%;
  margin-top:150px;
  margin-left:auto;
  margin-right:auto;
  text-align: center;
  font-family: Impact !important;
  -moz-box-shadow: 5px 5px 5px #333333;; /* Old Firefox */
  box-shadow: 5px 5px 5px #333333;
  border:1px solid;
  border-radius:10px;
  -moz-border-radius:10px; /* Old Firefox */
  border-color: #000000;
  z-index: 15;
}

.alert-accept {
  position: absolute;
  background-color: #1d4eff;
  background-repeat: no-repeat;
  background-position: bottom center;
  max-width:600px;
  height: 290px;
  font-size: 2.5em;
  border: 1px solid;
  color: #ffffff;
  left:150px;
  right:150px;
  line-height: 110%;
  margin-top:150px;
  margin-left:auto;
  margin-right:auto;
  text-align: center;
  font-family: Impact !important;
  -moz-box-shadow: 5px 5px 5px #333333;; /* Old Firefox */
  box-shadow: 5px 5px 5px #333333;
  border:1px solid;
  border-radius:10px;
  -moz-border-radius:10px; /* Old Firefox */
  border-color: #000000;
  z-index: 15;
  b {
    color: #6cda40;
    font-size: 2em;
    line-height: 110%;
  }
  .sub_flash_text {
    margin-top:30px;
    font-size: 0.7em;
    text-align: left;
    line-height: 95%;
    b {
      color: #f0d62b;
      font-size: 1em;
    }
  }
}

.alert-cancel {
  position: absolute;
  background-color: #1d4eff;
  background-repeat: no-repeat;
  background-position: bottom center;
  max-width:600px;
  height: 100px;
  font-size: 2.5em;
  border: 1px solid;
  color: #ffffff;
  left:150px;
  right:150px;
  line-height: 110%;
  margin-top:150px;
  margin-left:auto;
  margin-right:auto;
  text-align: center;
  font-family: Impact !important;
  -moz-box-shadow: 5px 5px 5px #333333;; /* Old Firefox */
  box-shadow: 5px 5px 5px #333333;
  border:1px solid;
  border-radius:10px;
  -moz-border-radius:10px; /* Old Firefox */
  border-color: #000000;
  z-index: 15;
}

.alert-confirm {
  position: absolute;
  background-color: #1d4eff;
  background-repeat: no-repeat;
  background-position: bottom center;
  max-width:600px;
  height: 290px;
  font-size: 2.5em;
  border: 1px solid;
  color: #ffffff;
  left:150px;
  right:150px;
  line-height: 110%;
  margin-top:150px;
  margin-left:auto;
  margin-right:auto;
  text-align: center;
  font-family: Impact !important;
  -moz-box-shadow: 5px 5px 5px #333333;; /* Old Firefox */
  box-shadow: 5px 5px 5px #333333;
  border:1px solid;
  border-radius:10px;
  -moz-border-radius:10px; /* Old Firefox */
  border-color: #000000;
  z-index: 15;
  b {
    color: #f0d62b;
    font-size: 2em;
    line-height: 110%;
  }
  .sub_flash_text {
    margin-top:30px;
    font-size: 1em;
    text-align: center;
    line-height: 95%;
    b {
      color: #f0d62b;
      font-size: 1em;
    }
  }
  .confirmed_request {
    font-size: 1.5em;
    text-align: center;
    line-height: 95%;
    b {
      color: #6cda40;
      font-size: 1em;
    }
  }
}

.alert-cannot {
  position: absolute;
  background-color: #1d4eff;
  background-repeat: no-repeat;
  background-position: bottom center;
  max-width:600px;
  height: 130px;
  font-size: 2.5em;
  border: 1px solid;
  color: #ffffff;
  left:150px;
  right:150px;
  line-height: 110%;
  margin-top:150px;
  margin-left:auto;
  margin-right:auto;
  text-align: center;
  font-family: Impact !important;
  -moz-box-shadow: 5px 5px 5px #333333;; /* Old Firefox */
  box-shadow: 5px 5px 5px #333333;
  border:1px solid;
  border-radius:10px;
  -moz-border-radius:10px; /* Old Firefox */
  border-color: #000000;
  z-index: 15;
}

.alert-complete {
  position: absolute;
  background-color: #1d4eff;
  background-repeat: no-repeat;
  background-position: bottom center;
  max-width:600px;
  height: 390px;
  font-size: 2.5em;
  border: 1px solid;
  color: #ffffff;
  left:150px;
  right:150px;
  line-height: 110%;
  margin-top:150px;
  margin-left:auto;
  margin-right:auto;
  text-align: center;
  font-family: Impact !important;
  -moz-box-shadow: 5px 5px 5px #333333;; /* Old Firefox */
  box-shadow: 5px 5px 5px #333333;
  border:1px solid;
  border-radius:10px;
  -moz-border-radius:10px; /* Old Firefox */
  border-color: #000000;
  z-index: 15;
  b {
    color: #f0d62b;
    font-size: 2em;
    line-height: 110%;
  }
  .sub_flash_text {
    margin-top:30px;
    font-size: 1em;
    text-align: center;
    line-height: 95%;
    b {
      color: #f0d62b;
      font-size: 1em;
    }
  }
  .complete {
    font-size: 1.7em;
    text-align: center;
    line-height: 95%;
    b {
      color: #6cda40;
      font-size: 1em;
    }
  }
}

.alert-request_post_created {
  position: absolute;
  background-color: #1d4eff;
  background-repeat: no-repeat;
  background-position: bottom center;
  max-width:600px;
  height: 220px;
  font-size: 2.5em;
  border: 1px solid;
  color: #ffffff;
  left:150px;
  right:150px;
  line-height: 110%;
  margin-top:150px;
  margin-left:auto;
  margin-right:auto;
  text-align: center;
  font-family: Impact !important;
  -moz-box-shadow: 5px 5px 5px #333333;; /* Old Firefox */
  box-shadow: 5px 5px 5px #333333;
  border:1px solid;
  border-radius:10px;
  -moz-border-radius:10px; /* Old Firefox */
  border-color: #000000;
  z-index: 15;
  .sub_flash_text {
    text-align: center;
    width:450px;
    margin-left:auto;
    margin-right: auto;
    margin-top:30px;
    font-size: 0.7em;
    line-height: 95%;
    b {
      color: #f0d62b;
      font-size: 1em;
    }
  }
}

.alert-suggest_post_created {
  position: absolute;
  background-color: #1d4eff;
  background-repeat: no-repeat;
  background-position: bottom center;
  max-width:600px;
  height: 220px;
  font-size: 2.5em;
  border: 1px solid;
  color: #ffffff;
  left:150px;
  right:150px;
  line-height: 110%;
  margin-top:150px;
  margin-left:auto;
  margin-right:auto;
  text-align: center;
  font-family: Impact !important;
  -moz-box-shadow: 5px 5px 5px #333333;; /* Old Firefox */
  box-shadow: 5px 5px 5px #333333;
  border:1px solid;
  border-radius:10px;
  -moz-border-radius:10px; /* Old Firefox */
  border-color: #000000;
  z-index: 15;
  .sub_flash_text {
    text-align: center;
    width:450px;
    margin-left:auto;
    margin-right: auto;
    margin-top:30px;
    font-size: 0.7em;
    line-height: 95%;
    b {
      color: #f0d62b;
      font-size: 1em;
    }
  }
}

.alert-request_post_updated {
  position: absolute;
  background-color: #1d4eff;
  background-repeat: no-repeat;
  background-position: bottom center;
  max-width:600px;
  height: 100px;
  font-size: 2.5em;
  border: 1px solid;
  color: #ffffff;
  left:150px;
  right:150px;
  line-height: 110%;
  margin-top:150px;
  margin-left:auto;
  margin-right:auto;
  text-align: center;
  font-family: Impact !important;
  -moz-box-shadow: 5px 5px 5px #333333;; /* Old Firefox */
  box-shadow: 5px 5px 5px #333333;
  border:1px solid;
  border-radius:10px;
  -moz-border-radius:10px; /* Old Firefox */
  border-color: #000000;
  z-index: 15;
}

.alert-suggest_post_updated {
  position: absolute;
  background-color: #1d4eff;
  background-repeat: no-repeat;
  background-position: bottom center;
  max-width:600px;
  height: 130px;
  font-size: 2.5em;
  border: 1px solid;
  color: #ffffff;
  left:150px;
  right:150px;
  line-height: 110%;
  margin-top:150px;
  margin-left:auto;
  margin-right:auto;
  text-align: center;
  font-family: Impact !important;
  -moz-box-shadow: 5px 5px 5px #333333;; /* Old Firefox */
  box-shadow: 5px 5px 5px #333333;
  border:1px solid;
  border-radius:10px;
  -moz-border-radius:10px; /* Old Firefox */
  border-color: #000000;
  z-index: 15;
}

.alert-request_post_deleted {
  position: absolute;
  background-color: #1d4eff;
  background-repeat: no-repeat;
  background-position: bottom center;
  max-width:600px;
  height: 100px;
  font-size: 2.5em;
  border: 1px solid;
  color: #ffffff;
  left:150px;
  right:150px;
  line-height: 110%;
  margin-top:150px;
  margin-left:auto;
  margin-right:auto;
  text-align: center;
  font-family: Impact !important;
  -moz-box-shadow: 5px 5px 5px #333333;; /* Old Firefox */
  box-shadow: 5px 5px 5px #333333;
  border:1px solid;
  border-radius:10px;
  -moz-border-radius:10px; /* Old Firefox */
  border-color: #000000;
  z-index: 15;
}

.alert-suggest_post_deleted {
  position: absolute;
  background-color: #1d4eff;
  background-repeat: no-repeat;
  background-position: bottom center;
  max-width:600px;
  height: 130px;
  font-size: 2.5em;
  border: 1px solid;
  color: #ffffff;
  left:150px;
  right:150px;
  line-height: 110%;
  margin-top:150px;
  margin-left:auto;
  margin-right:auto;
  text-align: center;
  font-family: Impact !important;
  -moz-box-shadow: 5px 5px 5px #333333;; /* Old Firefox */
  box-shadow: 5px 5px 5px #333333;
  border:1px solid;
  border-radius:10px;
  -moz-border-radius:10px; /* Old Firefox */
  border-color: #000000;
  z-index: 15;
}

.alert-request_post_restored {
  position: absolute;
  background-color: #1d4eff;
  background-repeat: no-repeat;
  background-position: bottom center;
  max-width:600px;
  height: 170px;
  font-size: 2.5em;
  border: 1px solid;
  color: #ffffff;
  left:150px;
  right:150px;
  line-height: 110%;
  margin-top:150px;
  margin-left:auto;
  margin-right:auto;
  text-align: center;
  font-family: Impact !important;
  -moz-box-shadow: 5px 5px 5px #333333;; /* Old Firefox */
  box-shadow: 5px 5px 5px #333333;
  border:1px solid;
  border-radius:10px;
  -moz-border-radius:10px; /* Old Firefox */
  border-color: #000000;
  z-index: 15;
  b {
    color: #f0d62b;
    font-size: 1.3em;
  }
}

.alert-your_own {
  position: absolute;
  background-color: #1d4eff;
  background-repeat: no-repeat;
  background-position: bottom center;
  max-width:600px;
  height: 140px;
  font-size: 2.5em;
  border: 1px solid;
  color: #ffffff;
  left:150px;
  right:150px;
  line-height: 110%;
  margin-top:150px;
  margin-left:auto;
  margin-right:auto;
  text-align: center;
  font-family: Impact !important;
  -moz-box-shadow: 5px 5px 5px #333333;; /* Old Firefox */
  box-shadow: 5px 5px 5px #333333;
  border:1px solid;
  border-radius:10px;
  -moz-border-radius:10px; /* Old Firefox */
  border-color: #000000;
  z-index: 15;
}

.alert-new_message_sent {
  position: absolute;
  background-color: #1d4eff;
  background-repeat: no-repeat;
  background-position: bottom center;
  max-width:600px;
  height: 110px;
  font-size: 2.5em;
  border: 1px solid;
  color: #ffffff;
  left:150px;
  right:150px;
  line-height: 110%;
  margin-top:150px;
  margin-left:auto;
  margin-right:auto;
  text-align: center;
  font-family: Impact !important;
  -moz-box-shadow: 5px 5px 5px #333333;; /* Old Firefox */
  box-shadow: 5px 5px 5px #333333;
  border:1px solid;
  border-radius:10px;
  -moz-border-radius:10px; /* Old Firefox */
  border-color: #000000;
  z-index: 15;
}

.close_flash {
  position:absolute;
  left:50%;
  margin-left: -65px;
  bottom:4px;
  text-align: center;
}