.alert-success {
  position: absolute;
  background-color: #1bbc9b;
  background-repeat: no-repeat;
  background-position: bottom center;
  max-width:600px;
  font-size: 40px;
  border: 1px solid;
  color: #ffffff;
  left:150px;
  right:150px;
  line-height: 110%;
  margin-top:150px;
  margin-left:auto;
  margin-right:auto;
  text-align: center;
  -moz-box-shadow: 5px 5px 5px #000000; /* Old Firefox */
  box-shadow: 5px 5px 5px #000000;
  border:1px solid;
  border-radius:8px;
  -moz-border-radius:10px; /* Old Firefox */
  border-color: #000000;
  z-index: 15;
    .sub_flash_text {
       color: #ffffff;
        font-size: 20px;
        line-height: 110%;
        margin-top: 10px;
        margin-bottom: 10px;
      a {
        text-decoration: none;
        color: #ffffff;
        &:hover {
          color: #f2ff5e;
        }
      }
  }
}

.alert-failure {
  position: absolute;
  background-color: #e84c3d;
  background-repeat: no-repeat;
  background-position: bottom center;
  max-width:600px;
  font-size: 40px;
  border: 1px solid;
  color: #ffffff;
  left:150px;
  right:150px;
  line-height: 110%;
  margin-top:150px;
  margin-left:auto;
  margin-right:auto;
  text-align: center;
  -moz-box-shadow: 5px 5px 5px #000000; /* Old Firefox */
  box-shadow: 5px 5px 5px #000000;
  border:1px solid;
  border-radius:8px;
  -moz-border-radius:10px; /* Old Firefox */
  border-color: #000000;
  z-index: 15;
  .sub_flash_text {
    color: #ffffff;
    font-size: 20px;
    line-height: 110%;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.close_flash {
  position:absolute;
  top:-7px;
  right:4px;
  text-align: center;
}

.close_flash:hover {
     cursor:pointer;
}
