header {
  a {
    color: #eda358;
    &:hover {
      color: #cccccc;
    }
  }
}

.navbar {
  .navbar-inner {
    vertical-align: middle;
    border: 1px solid #000000;
    border-radius: 0px;
    background-color: #1d79e2;
    background-image: none;

    .dropdown .dropdown-toggle {
      height: 23px;
    }

    .dropdown .dropdown-menu::before,
    .dropdown .dropdown-menu::after {
      border: none;
      content: none;
    }

    .dropdown .dropdown-menu {
      border: 1px solid #000000;
      background-color: #1d79e2;
      .divider {
        border: black;
        background-color: black;
      }
    }
  }
  .border{
    border-right: 1px solid black;
    height: 43px;
  }
}

#header_items {
  padding-top: 4px;
}

#logo {
  float: left;
  margin-right: 5px;
  font-size: 1.7em;
  color: #fff;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: #fff;
    text-decoration: none;
  }
}

.header_beta {
  float:left;
  margin-top:24px;
  margin-left:-18px;
  color: #ede044
}

#header_transporters {
  position:relative;
  width:190px;
  margin-left:3px;
  text-align: left;
  font-size: 0.9em;
  background-image: url('header_car.png');
  border:1px solid;
  border-bottom: 0px;
  border-color: #1d79e2;
  background-repeat: no-repeat;
  background-position: bottom left;
  -moz-border-radius: 0px;
  a {
    color: #ffffff;
    padding-left:70px;
    text-decoration: none;
    border-color: #000000;
    &:hover {
      color: #f2ff5e;
      text-decoration: none;
      background-color:#00008b;
      background-image: url('header_car.png');
      background-repeat: no-repeat;
      background-position: bottom left;
      -webkit-border-radius: 7px 7px 0px 0px;
      border-radius: 7px 7px 0px 0px;
    }
  }
}

#header_senders {
  position:relative;
  width:160px;
  margin-left:3px;
  text-align: left;
  font-size: 0.9em;
  background-image: url('header_box.png');
  border:1px solid;
  border-bottom: 0px;
  border-color: #1d79e2;
  background-repeat: no-repeat;
  background-position: bottom left;
  -moz-border-radius: 0px;
  a {
    color: #ffffff;
    padding-left:50px;
    text-decoration: none;
    border-color: #000000;
    &:hover {
      color: #f2ff5e;
      text-decoration: none;
      background-image: url('header_box.png');
      background-repeat: no-repeat;
      background-position: bottom left;
      background-color:#00008b;
      -webkit-border-radius: 7px 7px 0px 0px;
      border-radius: 7px 7px 0px 0px;
    }
  }
}

#header_messages {
  position:relative;
  width:120px;
  margin-left:3px;
  text-align: left;
  font-size: 0.9em;
  background-image: url('header_message.png');
  border:1px solid;
  border-bottom: 0px;
  border-color: #1d79e2;
  background-repeat: no-repeat;
  background-position: bottom left;
  -moz-border-radius: 0px;
  a {
    color: #ffffff;
    padding-left:50px;
    text-decoration: none;
    border-color: #000000;
    &:hover {
      color: #f2ff5e;
      text-decoration: none;
      background-image: url('header_message.png');
      background-repeat: no-repeat;
      background-position: bottom left;
      background-color:#00008b;
      -webkit-border-radius: 7px 7px 0px 0px;
      border-radius: 7px 7px 0px 0px;
    }
  }
}

#header_messages_unread {
  position:relative;
  width:120px;
  margin-left:3px;
  text-align: left;
  font-size: 0.9em;
  background-image: url('header_message_unread.png');
  border:1px solid;
  border-bottom: 0px;
  border-color: #1d79e2;
  background-repeat: no-repeat;
  background-position: bottom left;
  -moz-border-radius: 0px;
  a {
    color: #ff9a34;
    padding-left:50px;
    text-decoration: none;
    border-color: #000000;
    &:hover {
      color: #f2ff5e;
      text-decoration: none;
      background-image: url('header_message_unread.png');
      background-repeat: no-repeat;
      background-position: bottom left;
      background-color:#00008b;
      -webkit-border-radius: 7px 7px 0px 0px;
      border-radius: 7px 7px 0px 0px;
    }
  }
}

#header_activity {
  position:relative;
  width:110px;
  margin-left:3px;
  text-align: left;
  font-size: 0.9em;
  background-image: url('header_activity.png');
  border:1px solid;
  border-bottom: 0px;
  border-color: #1d79e2;
  background-repeat: no-repeat;
  background-position: bottom left;
  -moz-border-radius: 0px;
  a {
    color: #ffffff;
    padding-left:50px;
    text-decoration: none;
    border-color: #000000;
    &:hover {
      color: #f2ff5e;
      text-decoration: none;
      background-image: url('header_activity.png');
      background-repeat: no-repeat;
      background-position: bottom left;
      background-color:#00008b;
      -webkit-border-radius: 7px 7px 0px 0px;
      border-radius: 7px 7px 0px 0px;
    }
  }
}

#header_activity_new {
  position:relative;
  width:110px;
  margin-left:3px;
  text-align: left;
  font-size: 0.9em;
  background-image: url('header_activity_new.png');
  border:1px solid;
  border-bottom: 0px;
  border-color: #1d79e2;
  background-repeat: no-repeat;
  background-position: bottom left;
  -moz-border-radius: 0px;
  a {
    color: #ffffff;
    padding-left:50px;
    text-decoration: none;
    border-color: #000000;
    &:hover {
      color: #f2ff5e;
      text-decoration: none;
      background-image: url('header_activity_new.png');
      background-repeat: no-repeat;
      background-position: bottom left;
      background-color:#00008b;
      -webkit-border-radius: 7px 7px 0px 0px;
      border-radius: 7px 7px 0px 0px;
    }
  }
}

#header_user {
  margin-left:13px;
  text-align: left;
  font-size: 0.9em;
  border:1px solid;
  border-bottom: 0px;
  border-color: #1d79e2;
  background-repeat: no-repeat;
  background-position: bottom left;
  -moz-border-radius: 0px;
  a {
    color: #ffffff;
    text-decoration: none;
    border-color: #000000;
    &:hover {
      color: #f2ff5e;
      text-decoration: none;
      background-repeat: no-repeat;
      background-position: bottom left;
      background-color:#00008b;
      -webkit-border-radius: 7px 7px 0px 0px;
      border-radius: 7px 7px 0px 0px;
    }
  }
}

#header_how_it_works {
  position:relative;
  width:150px;
  margin-left:3px;
  text-align: left;
  font-size: 0.9em;
  background-image: url('header_how_it_works.png');
  border:1px solid;
  border-bottom: 0px;
  border-color: #1d79e2;
  background-repeat: no-repeat;
  background-position: bottom left;
  -moz-border-radius: 0px;
  a {
    color: #ffffff;
    padding-left:50px;
    text-decoration: none;
    border-color: #000000;
    &:hover {
      color: #f2ff5e;
      text-decoration: none;
      background-image: url('header_how_it_works.png');
      background-repeat: no-repeat;
      background-position: bottom left;
      background-color:#00008b;
      -webkit-border-radius: 7px 7px 0px 0px;
      border-radius: 7px 7px 0px 0px;
    }
  }
}

#header_sign_in {
  position:relative;
  width:110px;
  margin-left:33px;
  text-align: left;
  font-size: 0.9em;
  background-image: url('header_sign_in.png');
  border:1px solid;
  border-bottom: 0px;
  border-color: #1d79e2;
  background-repeat: no-repeat;
  background-position: bottom left;
  -moz-border-radius: 0px;
  a {
    color: #ffffff;
    padding-left:50px;
    text-decoration: none;
    border-color: #000000;
    &:hover {
      color: #f2ff5e;
      text-decoration: none;
      background-image: url('header_sign_in.png');
      background-repeat: no-repeat;
      background-position: bottom left;
      background-color:#00008b;
      -webkit-border-radius: 7px 7px 0px 0px;
      border-radius: 7px 7px 0px 0px;
    }
  }
}

#header_register {
  position:relative;
  width:110px;
  margin-left:3px;
  text-align: left;
  font-size: 0.9em;
  background-color: #3a9930;
  background-image: url('header_register.png');
  border:1px solid;
  border-bottom: 0px;
  border-color: #434343;
  background-repeat: no-repeat;
  background-position: bottom left;
  -moz-border-radius: 0px;
  -webkit-border-radius: 7px 7px 0px 0px;
  border-radius: 7px 7px 0px 0px;
  a {
    color: #ffffff;
    padding-left:50px;
    text-decoration: none;
    border-color: #000000;
    &:hover {
      color: #f2ff5e;
      text-decoration: none;
      background-image: url('header_register.png');
      background-repeat: no-repeat;
      background-position: bottom left;
      background-color:#00008b;
      -webkit-border-radius: 7px 7px 0px 0px;
      border-radius: 7px 7px 0px 0px;
    }
  }
}