.home_top_container {
  position: relative;
  width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.top_tagline {
  width: 850px;
  text-align: center;
  font-size:4em;
  margin-top:80px;
}

.two_main_buttons {
  line-height:340px;
  position: absolute;
  margin-top: 60px;
  font-size: 2.6em;
  width: 850px;
  margin-left: auto;
  margin-right: auto;
}

.two_pass_buttons {
  line-height:360px;
  display: none;
  position: absolute;
  margin-top: 60px;
  font-size: 1.6em;
  width: 850px;
  margin-left: auto;
  margin-right: auto;
}

.two_send_buttons {
  line-height:360px;
  display: none;
  position: absolute;
  margin-top: 60px;
  font-size: 1.6em;
  width: 850px;
  margin-left: auto;
  margin-right: auto;
}

.left_button {
  text-align: center;
  width: 400px;
  height: 200px;
  background-image: url('pass_something.png');
  background-color: #d67a31;
  background-repeat: no-repeat;
  background-position: bottom center;
  -moz-box-shadow: 5px 5px 5px #6b6b6b; /* Old Firefox */
  box-shadow: 5px 5px 5px #6b6b6b;
  border:solid 3px;
  border-radius:10px;
  -moz-border-radius:10px; /* Old Firefox */
  color: #ffffff;
  border-color: #000000;
}

.right_button {
  float:right;
  text-align: center;
  width: 400px;
  height: 200px;
  background-image: url('send_something.png');
  background-color: #d67a31;
  background-repeat: no-repeat;
  background-position: bottom center;
  -moz-box-shadow: 5px 5px 5px #6b6b6b; /* Old Firefox */
  box-shadow: 5px 5px 5px #6b6b6b;
  border:solid 3px;
  border-radius:10px;
  -moz-border-radius:10px; /* Old Firefox */
  color: #ffffff;
  border-color: #000000;
}

.left_button:hover, .right_button:hover{
  background-color: #59ed24;
  cursor:pointer;
}

.how_it_works_title {
  width: 850px;
  font-size:4em;
  margin-top:80px;
}

.how_it_works_right {
  margin-top:80px;
}

.how_it_works_image {
  display:inline-block;
}

.how_it_works_text {
  display:inline-block;
  vertical-align: top;
  padding-top:10px;
}

.how_it_works_text_title {
  font-size:3em;
  margin-bottom: 30px;;
}

.how_it_works_text_content {
  font-size:1.9em;
  width:500px;
  line-height: 25px;
}

.sign_up_now {
  margin-top: 40px;
  text-align: center;
  font-size: 2em;
}

