.home_container1 {
  position: relative;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom:20px;
}

.home_container2 {
  display: block;
  background-image: url('back3.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top top;
  position: relative;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 70px;
}

.home_container3 {
  background-size: 100%;
  background-image: url('InBetween.png');
  background-repeat: no-repeat;
  background-position: top top;
  position: relative;
  margin-top: -160px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 70px;
  z-index: 13;
}

.how_it_works_container {
  width:900px;
  margin-left: auto;
  margin-right: auto;
}

.InBetween {
  margin: 52px 0 0 0;
}

.InBetween.top {
  position: relative;
  margin: 0 0 52px 0;
}

.main_logo {
  width: 950px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.top_tagline {
  width: 950px;
  text-align: center;
  font-size:30px;
  line-height: 110%;
  margin-top:10px;
  margin-left: auto;
  margin-right: auto;
}

.home_movie {
  width: 400px;
  text-align: center;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.home_movie:hover {
  cursor:pointer;
}

.subtop_tagline {
  width: 595px;
  text-align: left;
  font-size:22px;
  line-height:100%;
  margin-top:20px;
  margin-left: auto;
  margin-right: auto;
}

.middle_tagline {
  width: 850px;
  text-align: center;
  font-size:4em;
  padding-top:60px;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
  color:#ffffff;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

.two_main_buttons {
  line-height:340px;
  margin-top: 30px;
  font-size: 2.6em;
  width: 850px;
  margin-left: auto;
  margin-right: auto;
}

.two_pass_buttons {
  line-height:360px;
  display: none;
  position: absolute;
  margin-top: 60px;
  font-size: 1.6em;
  width: 850px;
  margin-left: auto;
  margin-right: auto;
}

.two_send_buttons {
  line-height:360px;
  display: none;
  position: absolute;
  margin-top: 60px;
  font-size: 1.6em;
  width: 850px;
  margin-left: auto;
  margin-right: auto;
}

.left_button {
  text-align: center;
  width: 400px;
  height: 200px;
  background-image: url('pass_something.png');
  background-color: #d67a31;
  background-repeat: no-repeat;
  background-position: bottom center;
  -moz-box-shadow: 3px 3px 3px #3d3d3d; /* Old Firefox */
  box-shadow: 3px 3px 3px #3d3d3d;
  border:solid 1px;
  border-radius:8px;
  -moz-border-radius:10px; /* Old Firefox */
  color: #ffffff;
  border-color: #4b4b4b;
}

.right_button {
  float:right;
  text-align: center;
  width: 400px;
  height: 200px;
  background-image: url('send_something.png');
  background-color: #d67a31;
  background-repeat: no-repeat;
  background-position: bottom center;
  -moz-box-shadow: 3px 3px 3px #3d3d3d; /* Old Firefox */
  box-shadow: 3px 3px 3px #3d3d3d;
  border:solid 1px;
  border-radius:8px;
  -moz-border-radius:10px; /* Old Firefox */
  color: #ffffff;
  border-color: #4b4b4b;
}

.left_button:hover, .right_button:hover{
  background-color: #1d79e2;
  cursor:pointer;
}

.good_hands_right {
  width:700px;
  margin-top:30px;
  margin-left: auto;
  margin-right: auto;
  color:#ffffff;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

.good_hands_image {
  display:inline-block;
}

.good_hands_text {
  display:inline-block;
  vertical-align: top;
  padding-top:10px;
}

.good_hands_text_title {
  font-size:3em;
  margin-bottom: 30px;
}

.good_hands_text_content {
  font-size:1.7em;
  width:500px;
  line-height: 25px;
}

.sign_up_now {
  margin-top: 40px;
  text-align: center;
  font-size: 2em;
}

.signup_now {
  text-align: center;
  width: 520px;
  height: 65px;
  line-height: 200%;
  background-color: #d67a31;
  background-repeat: no-repeat;
  background-position: bottom center;
  -moz-box-shadow: 3px 3px 3px #3d3d3d; /* Old Firefox */
  box-shadow: 3px 3px 3px #3d3d3d;
  border:solid 1px;
  border-radius:7px;
  -moz-border-radius:10px; /* Old Firefox */
  color: #ffffff;
  border-color: #000000;
  margin-top:30px;
  margin-bottom:30px;
  margin-left: auto;
  margin-right: auto;
  font-size:2.4em;
}

.signup_now:hover{
  background-color: #1d79e2;
  cursor:pointer;
}

