.modal_title {
  color: #ffffff;
  font-size: 40px;
  margin-bottom: 30px;
}

.modal_text {
  color: #ffffff;
  font-size: 20px;
  margin-bottom: 30px;
  .special {
    display: inline-block;
    color: #ffe732;
  }
}

.modal_proceed {
  text-align: center;
  margin-bottom:10px;
}

.modal, a:active, a:focus {
  outline: 0 none;
}

.modal-header {
  height: 25px;
  border-bottom: 0px;
}

.modal-footer {
}

.modal-body {
  max-height: 800px;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.modal {
  background-color: #1d79e2;
  z-index: 30;
}

.modal-backdrop {
  z-index: 20;
}

.pac-container {
  z-index: 1200 !important;
}
