
.new_delivery_request_class {
  width:500px;
  margin-left: auto;
  margin-right: auto;
}

.new_delivery_suggest_class {
  margin-top: 1%;
  width:600px;
  margin-left: auto;
  margin-right: auto;
}

.single_step label {
  display:inline-block;
  text-align: left;
  width:250px;
  font-size:28px;
  font-weight: bold;
  line-height:40%;
  color: #f2ff5e;
}

legend {
  text-align: left;
  border-bottom: 0px;
  font-size: 29px;
  color: #ffffff;
}

.new_size {
  display: inline-block;
}

.size_box {
  width: 42px;
  height: 50px;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  background-color: #a03eff;
  background-repeat: no-repeat;
  background-position: center center;
  border:solid 1px;
  border-radius:3px;
  -moz-border-radius:10px; /* Old Firefox */
  color: #ffffff;
  border-color: #18212e;
  margin-right: auto;
  margin-left: auto;
  padding:10px;
  font-size:12px;
  font-weight: bold;
  line-height: 50%;
}

.size_box:hover {
  background-color: #1a20e2;
  cursor:pointer;
}

.new_money input[type=text] {
  width: 95px;
  vertical-align: middle;
}

.new_money label {
  width:300px;
  line-height: 110%;
  font-size:35px;
}

.new_money select {
  width:85px;
  height:45px;
  padding-top:7px;
  font-size: 1.5em;
  border:solid 1px #000;
}

.update_details {
  text-align: center;
  width: 340px;
  height: 55px;
  line-height: 200%;
  background-color: #d67a31;
  background-repeat: no-repeat;
  background-position: bottom center;
  -moz-box-shadow: 3px 3px 3px #3d3d3d; /* Old Firefox */
  box-shadow: 3px 3px 3px #3d3d3d;
  border:solid 1px;
  border-radius:7px;
  -moz-border-radius:10px; /* Old Firefox */
  color: #ffffff;
  border-color: #000000;
  margin-top:10px;
  margin-bottom:10px;
  margin-left: auto;
  margin-right: auto;
  padding:55px;
  padding-top:5px;
  padding-bottom:5px;
  font-size:25px;
}

.update_details:hover {
  background-color: #1d79e2;
}

.please_wait {
  text-align: center;
  width: 340px;
  height: 55px;
  line-height: 200%;
  background-color: #5d5d5d;
  background-repeat: no-repeat;
  background-position: bottom center;
  border:solid 1px;
  border-radius:7px;
  -moz-border-radius:10px; /* Old Firefox */
  color: #0c0c0c;
  border-color: #000000;
  margin-top:10px;
  margin-bottom:10px;
  margin-left: auto;
  margin-right: auto;
  padding:55px;
  padding-top:5px;
  padding-bottom:5px;
  font-size:25px;
}

#submit_delivery {
  text-align: center;
  width: 340px;
  height: 55px;
  line-height: 200%;
  background-color: #d67a31;
  background-repeat: no-repeat;
  background-position: bottom center;
  -moz-box-shadow: 3px 3px 3px #3d3d3d; /* Old Firefox */
  box-shadow: 3px 3px 3px #3d3d3d;
  border:solid 1px;
  border-radius:7px;
  -moz-border-radius:10px; /* Old Firefox */
  color: #ffffff;
  border-color: #000000;
  margin-top:10px;
  margin-bottom:10px;
  margin-left: auto;
  margin-right: auto;
  font-size:25px;
}

#submit_delivery:hover {
  background-color: #1d79e2;
}

fieldset {
  text-align: center;
  background-color: #1d79e2;
  padding-bottom: 10px;
  color: #ffffff;
}

fieldset label {
  display:block;
  margin:15px 0 5px;
  font-size: 2.7em;
  margin-top: 30px;
  margin-bottom: 20px;
  text-align: center;
  width: 600px;
}

fieldset input[type=text] {
  width:220px;
  padding:10px;
  font-size: 1.6em;
  border:solid 1px #000;
}

fieldset input[type=file] {
   width:220px;
   padding:10px;
 }

.request_suggest_delivery_errors {
  margin: 0 auto;
  margin-top: 2%;
  padding: 5px;
  padding-top:12px;
  line-height: 30px;
  width: 400px;
  background-color: #c80000;
  border: 1px solid #111111;
  border-radius:5px;
  color: #ffffff;
  font-size: 17px;
  text-align: left;
}

