
.new_delivery_request_class {
  margin-top: 1%;
  width:600px;
  margin-left: auto;
  margin-right: auto;
}

.new_delivery_suggest_class {
  margin-top: 1%;
  width:600px;
  margin-left: auto;
  margin-right: auto;
}

.single_step label {
  display:inline-block;
  text-align: left;
  width:200px;
  font-size:50px;
  font-weight: bold;
  line-height:40%;
  color: #f2ff5e;
}

legend {
  text-align: left;
  height:40px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 3em;
  border-bottom:solid 2px;
  border-color: #000000;
  background-color:#00008b;
  background-repeat: no-repeat;
  background-position: bottom left;
  -moz-border-radius: 0px;
  -webkit-border-radius: 3px 3px 0px 0px;
  border-radius: 3px 3px 0px 0px;
  color: #ffffff;
  b {
    padding-left: 70px;
  }
}

.new_size {
  display: inline-block;
  width:295px;
}

.size_box {
  width: 60px;
  height: 70px;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  background-color: #bcbcbc;
  background-repeat: no-repeat;
  background-position: center center;
  border:solid 1px;
  border-radius:3px;
  -moz-border-radius:10px; /* Old Firefox */
  color: #ffffff;
  border-color: #18212e;
  margin-right: auto;
  margin-left: auto;
  padding:10px;
  font-size:17px;
  font-weight: bold;
  line-height: 70%;
}

.size_box:hover {
  background-color: #1a20e2;
  cursor:pointer;
}

.new_money input[type=text] {
  width: 95px;
  vertical-align: middle;
}

.new_money label {
  width:300px;
  line-height: 110%;
  font-size:35px;
}

.new_money select {
  width:85px;
  height:45px;
  padding-top:7px;
  font-size: 1.5em;
  border:solid 1px #000;
}

#submit_delivery {
  text-align: center;
  width: 340px;
  height: 55px;
  line-height: 200%;
  background-color: #d67a31;
  background-repeat: no-repeat;
  background-position: bottom center;
  -moz-box-shadow: 3px 3px 3px #3d3d3d; /* Old Firefox */
  box-shadow: 3px 3px 3px #3d3d3d;
  border:solid 1px;
  border-radius:7px;
  -moz-border-radius:10px; /* Old Firefox */
  color: #ffffff;
  border-color: #000000;
  margin-top:10px;
  margin-bottom:10px;
  margin-left: auto;
  margin-right: auto;
  font-size:1.9em;
}

#submit_delivery:hover {
  background-color: #1d79e2;
}

fieldset {
  text-align: center;
  background-color: #1d79e2;
  -moz-box-shadow: 5px 5px 5px #6b6b6b; /* Old Firefox */
  box-shadow: 5px 5px 5px #6b6b6b;
  border:solid 3px;
  border-radius:10px;
  -moz-border-radius:10px; /* Old Firefox */
  padding-bottom: 10px;
  color: #ffffff;
  border-color: #18212e;
}

fieldset label {
  display:block;
  margin:15px 0 5px;
  font-size: 2.8em;
  margin-top: 30px;
  margin-bottom: 20px;
  text-align: center;
  width: 600px;
}

fieldset input[type=text] {
  width:280px;
  padding:10px;
  font-size: 1.6em;
  border:solid 1px #000;
}

.request_suggest_delivery_errors {
  margin: 0 auto;
  margin-top: 2%;
  padding: 5px;
  padding-top:12px;
  line-height: 30px;
  width: 500px;
  background-color: #c80000;
  border: 1px solid #111111;
  border-radius:5px;
  color: #ffffff;
  font-size: 17px;
  text-align: left;
}

