.profile_name {
  font-size:30px;
}

.profile_pic {
  padding:5px;
}

.show_profile {
  br {
    display:none;
  }
}


.show_profile_data {
  width: 67%;
  background-color: #1d79e2;
  -moz-box-shadow: 5px 5px 5px #6b6b6b; /* Old Firefox */
  box-shadow: 5px 5px 5px #6b6b6b;
  border:solid 3px;
  border-radius:10px;
  -moz-border-radius:10px; /* Old Firefox */
  color: #ffffff;
  border-color: #000000;
  br {
    display:none;
  }
}

.show_profile_title {
  position:relative;
  text-align: left;
  height:40px;
  padding-top:14px;
  font-size: 2.8em;
  border-bottom:solid 2px;
  border-color: #18212e;
  background-color:#00008b;
  background-repeat: no-repeat;
  background-position: bottom left;
  -moz-border-radius: 0px;
  -webkit-border-radius: 3px 3px 0px 0px;
  border-radius: 3px 3px 0px 0px;
  a {
    color: #f2ff5e;
    text-decoration: none;
    &:hover {
      color: #cccccc;
    }
  }
}

.show_reviews_data {
  width: 67%;
  background-color: #1d79e2;
  -moz-box-shadow: 5px 5px 5px #6b6b6b; /* Old Firefox */
  box-shadow: 5px 5px 5px #6b6b6b;
  border:solid 3px;
  border-radius:10px;
  -moz-border-radius:10px; /* Old Firefox */
  color: #ffffff;
  border-color: #000000;
  margin-top:20px;
}

.show_reviews_title {
  padding-top:5px;
  padding-bottom: 6px;
  line-height: 20px;
  font-size: 1.4em;
  border-bottom:solid 2px;
  border-color: #18212e;
  background-color:#00008b;
  background-repeat: no-repeat;
  background-position: top left;
  -moz-border-radius: 0px;
  -webkit-border-radius: 3px 3px 0px 0px;
  border-radius: 3px 3px 0px 0px;
}

.review_content_wrapper {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 30px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  b {
    color: #8bceff
  }
}

.as_a_something {
  margin-bottom:10px;
}

.review_content {
  position:relative;
  left:25px;
  text-align: left;
  font-size:1.8em;
  width: 88%;
  background-color: #10529b;
  background-repeat: no-repeat;
  background-position: bottom left;
  border:1px solid;
  border-radius:4px;
  -moz-border-radius:10px; /* Old Firefox */
  padding: 5px;
  color: #ffffff;
  border-color: #000000;
  margin-bottom: 10px;
  margin-left:5px;
  b {
    font-size: 1.3em;
  }
}

.mini_review {
  margin-left:auto;
  margin-right: auto;
}

.mini_review_image {
  display: inline-block;
  width:40px;
  text-align: left;
  padding:0px;
}

.mini_review_content {
  display: inline-block;
  text-align: left;
  width:350px;
  font-size: 18px;
}

.mini_review_from {
  display: inline-block;
  width:150px;
  text-align: center;
  font-size: 15px;
  a {
    color: #f2ff5e;
    text-decoration: none;
    &:hover {
      color: #cccccc;
    }
  }
}

.no_reviews_yet {
  font-size:20px;
}

.right_box {
  width: 75%;
  float:right;
  background-color: #1d79e2;
  -moz-box-shadow: 5px 5px 5px #6b6b6b; /* Old Firefox */
  box-shadow: 5px 5px 5px #6b6b6b;
  border:solid 3px;
  border-radius:10px;
  -moz-border-radius:10px; /* Old Firefox */
  color: #ffffff;
  border-color: #000000;
}

.right_box_title {
  padding-top:5px;
  padding-bottom: 6px;
  line-height: 20px;
  font-size: 1.4em;
  border-bottom:solid 2px;
  border-color: #18212e;
  background-color:#00008b;
  background-repeat: no-repeat;
  background-position: top left;
  -moz-border-radius: 0px;
  -webkit-border-radius: 3px 3px 0px 0px;
  border-radius: 3px 3px 0px 0px;
  b {
    padding-left: 35px;
  }
}

.right_box_data {
  position:relative;
  text-align: center;
  margin: 10px;
  font-size: 2em;
}

.control_panel_item {
  position:relative;
  display: inline-block;
  width: 200px;
  font-size:18px;
  margin-top: 10px;
  text-align: center;
  -moz-box-shadow: 3px 3px 3px #3d3d3d; /* Old Firefox */
  box-shadow: 3px 3px 3px #3d3d3d;
  background-repeat: no-repeat;
  background-position: bottom left;
  border:1px solid;
  border-radius:4px;
  -moz-border-radius:10px; /* Old Firefox */
  padding: 5px;
  color: #ffffff;
  border-color: #000000;
  a {
    color: #ffffff !important;
    text-decoration: none !important;
    &:hover {
      color: #f2ff5e !important;
    }
  }
}

.verify_item {
  position:relative;
  display: inline-block;
  width: 140px;
  font-size:17px;
  text-align: center;
  background-color: #d67a31;
  background-repeat: no-repeat;
  background-position: bottom left;
  -moz-box-shadow: 3px 3px 3px #3d3d3d; /* Old Firefox */
  box-shadow: 3px 3px 3px #3d3d3d;
  border:1px solid;
  border-radius:4px;
  -moz-border-radius:10px; /* Old Firefox */
  padding: 3px;
  color: #ffffff;
  border-color: #000000;
  a {
    color: #ffffff !important;
    text-decoration: none !important;
    &:hover {
      color: #f2ff5e !important;
    }
  }
}

.control_panel_item:hover, .verify_item:hover {
  background-color: #1d79e2 !important;
  color: #f2ff5e !important;
  text-decoration: none !important;
}

.rating_item {
  position:relative;
  display: inline-block;
  width: 250px;
  font-size:18px;
  margin-top: 10px;
  text-align: center;
  background-color: #10529b;
  background-repeat: no-repeat;
  background-position: bottom left;
  border:1px solid;
  border-radius:4px;
  -moz-border-radius:10px; /* Old Firefox */
  padding: 5px;
  color: #ffffff;
  border-color: #000000;
  b {
    font-size:35px;
    color:#f2ff5e;
    line-height: 100%;
  }
}

.profile_verified {
  padding:5px;

}

.profile_verified_image {
  display: inline-block;
  width:40px;
  text-align: center;
}

.profile_verified_item {
  display: inline-block;
  width:300px;
  font-size: 20px;
}

.profile_verified_action {
  display: inline-block;
  width:100px;
  text-align: center;
}

