.reviews_form_class {
  text-align: center;
  color: #ffffff;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 20px;
}

.review_title {
  text-align: center;
  padding-top:14px;
  font-size: 35px;
}

.pos_or_neg_box {
  width: 160px;
  height: 90px;
  display: inline-block;
  text-align: center;
  background-color: #a03eff;
  background-repeat: no-repeat;
  background-position: bottom center;
  border:solid 1px;
  border-radius:3px;
  -moz-border-radius:10px; /* Old Firefox */
  color: #ffffff;
  border-color: #18212e;
  margin-right: auto;
  margin-left: auto;
  padding:10px;
 font-size: 4em;
  line-height:90%;
}

.pos_or_neg_box:hover {
  background-color: #1a20e2;
  cursor:pointer;
}

.review_fields {
  width: 450px;
  height: 170px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
}

.myfield_review label{
  margin-top:35px;

}

.myfield_review input {
  width:300px;
  margin-top:5px;
}

.myfield_review label {
  vertical-align: middle;
  font-size: 2.0em;
  padding-bottom:8px;
}

.button_review {
  margin-top:100px;
}

.user_review_errors {
  margin: 0 auto;
  margin-top: 6%;
  padding: 5px;
  padding-top:12px;
  line-height: 30px;
  width: 400px;
  background-color: #c80000;
  border: 1px solid #111111;
  border-radius:5px;
  color: #ffffff;
  font-size: 17px;
  text-align: left;
}