.user_index {
  margin-bottom: 40px;
  font-size: 15px;
}

.user_name {
  display: inline-block;
  width:130px;
}

.user_email {
  display: inline-block;
  width:150px;
}

.delete_user {
  display: inline-block;
  width:80px;
  margin-left:40px;
}

.password_reset_user {
  display: inline-block;
  width:150px;
  margin-left:20px;
}
