<div class="index_activity">
  <%= render 'activities/renders/activity_giving' %>
  <%= render 'activities/renders/activity_taking' %>
  <%= render 'activities/renders/activity_picking_up' %>
</div>

