var form = $('#new_suggest_delivery');

<% if @suggest_delivery.errors.any? %>

// Delete errors from previous submission
if ($(".request_suggest_delivery_errors")[0]){
    $('.request_suggest_delivery_errors').remove();
}

// Create a list of errors
var errors = $('<ul />');

// Display only first error for each field
<% @suggest_delivery.errors.each do |attribute, message| %>
    <% if @suggest_delivery.errors[attribute].first == message %>
        errors.append('<li><%= escape_javascript(message) %></li>');
    <% end %>
<% end %>

// Display errors before the form
$('<div />').addClass('request_suggest_delivery_errors').html(errors).appendTo("#new_suggest_delivery").hide().fadeIn('slow');

<% else %>

// On successful creation of new user, redirect to main page
window.location.href = "<%=suggest_delivery_url(@suggest_delivery) %>"

<% end %>