<div class="edit_delivery_field_wrapper" style="background-image: url('../assets/LocationA.png');">
  <%= form_for(@suggest_delivery, :remote => true, :html => { :id => "edit_from" }) do |f| %>
      <div class="edit_delivery_field_from">
        <%= f.label :from, "From?" %><%= f.text_field :from, :value => @suggest_delivery.from, :class => "address_field" %>
      </div>
      <div class="edit_update">
        <%= f.submit "Update Suggestion" , :id => 'submit_delivery' %>
      </div>
  <% end  %>
</div>
