<footer class="navbar navbar-inverse">
  <div class="footer_list">
    <ul>
      <li class="footer_item"><%= link_to "How It Works", root_path(:anchor =>'how_it_works'), class:"smoothScroll" %></li>
      <li class="footer_item"><%= link_to "Privacy Policy", privacy_policy_path %></li>
      <li><%= link_to "Terms of Use", terms_of_use_path  %></li>
    </ul>
  </div>
  <div class="copyright_short">
    This website and its content is copyright of sendd.me - © sendd.me 2013. All rights reserved.
  </div>
</footer>