<!DOCTYPE html>
<html>
<head>
  <%= javascript_include_tag "datepicker2" %>
</head>
<body>
<div class="wrapper">
  <div class="top_container" style="width:450px;">
    <%= yield %>
  </div>
</div>
</body>
</html>